- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'clinics_fb_help', :button => button
  - if params[:action] == "edit"
    - @account = @clinic.account
    - if @account.clinics.size != 1
      - if can? :destroy, @clinic
        = render 'shared/delete_button', :path => clinic_path(@clinic), :target => "clinic-#{@clinic.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, Clinic
      = link_to edit_clinic_path(@clinic), :class => "#{button} edit", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to clinics_path, :class => "#{button} back", :title => "List #{Clinic.model_name.human.pluralize}" do
      Back
    -# = render 'shared/switcher', :resource => @clinic unless @clinic.new_record?

