= semantic_form_for @clinic, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.semantic_fields_for :contact do |contact|
        = f.inputs :name => "Setup your #{Clinic.model_name.human}" do 
          = contact.input :company_name, :label => "Clinic Name"
          = f.input :website_url, :label => 'Website Address e.g. http://www.name.com'
          - if current_account.clinics.count > 0
            = f.input :location_clinic, :as => :select, :include_blank => true, :collection => current_account.clinic_links(@clinic).invert, :label => "Unique or Existing Clinic Address?"
          .clinic_address
            = contact.semantic_fields_for :physical_address do |pa|
              = render 'shared/address_fields', :f => pa, :required_fields => [:state]
          = contact.semantic_fields_for :business_email do |be|
            = be.input :email, :required => false
          = contact.semantic_fields_for :business_phone do |bp|
            = render 'shared/phone_fields_v1', :f => bp, :is_required => false
          = f.input :tax_uuid, :label => 'Corporate EIN Tax Id' 
          = f.input :type_ii_npi_uuid, :label => 'Type II NPI' 
          = f.input :account_id, :as => :hidden
          - if current_account.clinics.count > 1 or (current_account.clinics.count > 0 and @clinic.new_record?)
            .control-group.boolean.input.optional
              %label.control-label.long-label
                Is this the Master Billing Address for all clinics?
              .controls
                = f.check_box :master_billing_address, :label => '&nbsp;'

      = f.inputs :name => "Appointment Options"  do
        = f.input :schedule_future_max_days, :label => "How many days ahead can something be scheduled"
        = f.input :schedule_history_max_days, :label => "Keep appointment history for how many days"
        -# we only need to provide this option if there are multiple clinics and only one location
        -# if current_account.clinics.count > 1 and not current_account.has_multiple_locations?
        -#  = cal.input :provider_schedule_by_clinic, :as => :radio, :label => "Separate provider's schedule by location?"

    %div#col2.span6
      -# put all the col2 fields here     

      = f.inputs :name => "New Patient Settings" do 
        = f.semantic_fields_for :new_patient_option do |npo|
          = render 'shared/new_patient_option_fields', :f => npo
      = f.inputs :name => "Default Insurance and New Case Settings" do 
        = f.semantic_fields_for :new_patient_option do |nco|
          = render 'shared/new_case_option_fields', :f => nco

%p 
  %a{:href => "#{root_path}admin/import_groups/new"}
    Import Handyworks Desktop Data

:javascript
  jQuery(function() {
    HandyworksApp.setupClinicForm(#{@clinic.new_record?});
  });
