- clinic_list = "clinic_list"
- data_source = clinics_path

%table.indexTable.display{ :id => "#{clinic_list}", :data => { :source => data_source, :resource => 'clinic', :container => 'user_data_content', :collection => 'Clinics'} }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, Clinic
            = link_to new_clinic_path, :class => "icon24 new", :title => "New #{Clinic.model_name.human}" do
              &nbsp;
          = link_to_help 'clinics_index_help', :class => 'icon24 help', :title => "Help With Locations"
      %th
      %th 
      %th
      %th
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#  - only one of the lines below is actually going to be applicable, the
    //#    other line will have no results for its selector and thus no impact.
    //#    which one applies depends of the user is under resources or schedules
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Clinics list
    //#---------------------------------------------------------------------------
    oTable = HandyworksApp.indexTable(jQuery('##{clinic_list}'),
      #{@datatable.html_as_json.to_json});
  });
