- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'questions_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @question
      = render 'shared/delete_button', :path => question_path(@question), :target => "question-#{@question.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @question
      = link_to edit_question_path(@question), :class => "icon48 edit", :title => "Edit Question" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @question, :resource_name => 'question' unless @question.new_record?
    = link_to questions_path, :class => "icon48 back", :title => "List Questions" do
      Back

