= semantic_form_for @question, :as => :question, :remote => request.xhr?  do |f|
  = render 'buttons', :f => f

  %div.row#top
    %div#col1.span10
      = f.inputs :name => "Question Composition" do
        = f.input :title, :label => "Question", :required => true
        = f.input :state, :as => :select, :collection => ['draft','published'], :label => "Status", :class => "required", :include_blank => false

        = f.input :body, :label => "Answer", :input_html => { :class => 'autogrow', :rows => 10, :cols => 100 }

:javascript 
  jQuery(function() {
    //# initialize the WYSIWYG editor interface
    CKEDITOR.replace('question[body]')
    //HandyworksApp.questionFormValidation("#{@question.id}","#{@question.title}");
  });
