%table#questions_list.indexTable.display{ :data => { :source => questions_path, :resource => 'question', :container => 'user_data_content' } }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, Question
            = link_to new_question_path, :class => "icon24 new", :title => "New #{Question.model_name.human}" do
              &nbsp;
          = link_to_help 'questions_index_help', :class => 'icon24 help', :title => "Message Index help"
      %th 
      %th
      %th

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Questions list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#questions_list'),
      #{@datatable.html_as_json.to_json});
  });
