- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'providers_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @provider
      = render 'shared/delete_button', :path => provider_path(@provider), :target => "provider-#{@provider.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @provider
      = link_to edit_provider_path(@provider), :class => "#{button} edit", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to providers_path, :class => "#{button} back", :title => "List Providers" do
      Back
    -# = render 'shared/switcher', :resource => @provider unless @provider.new_record?
