= semantic_form_for @provider, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %P
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Provider Details" do 
        = f.input :your_code, :required => true
        = f.input :signature_name, :label => 'Full Name'
        = f.input :account_id, :as => :hidden
        = f.semantic_fields_for :contact do |contact|
          = contact.input :first_name, :required => false, :label => 'First Name'
          = contact.input :last_name, :required => false, :label => 'Last Name'
          = contact.semantic_fields_for :business_email do |be|
            = be.input :email, :label => 'E-Mail', :required => false
          = contact.semantic_fields_for :mobile_phone do |bp|
            = render 'shared/phone_fields_v1', :f => bp, :is_required => false, :label => 'Cell Phone'
          = f.input :provider_type_code, :as => :select, :collection => APP_CONFIG['options']['doctor']['type'], :label => 'Specialty', :include_blank => false
        = f.input :tax_uid, :label => 'EIN or SS#'
        = f.input :npi_uid, :label => 'NPI'
      = f.inputs :name => "Notes" do 
        = f.input :notes, :label => 'This area can be used for personal notes on this provider'

    %div#col2.span6
      = f.inputs :name => "Calendar ID" do 
        = f.input :tag_line, :label => 'Nickname'

      = f.inputs :name => "Legacy IDs" do 
        .control-group
          .form_list
            %table#provider_legacy_id_labels
              %thead
                %tr
                  %th Legacy ID Label
                  %th Value
                  %th &nbsp;
              %tbody
                = f.fields_for :provider_legacy_id_labels do |builder|
                  = render 'shared/provider_legacy_id_label_fields', :f => builder
                %tr#add_fields_here
                  %td{ :colspan => "3" }
                    - unless params[:action] == "show"
                      = link_to_add_fields "Add Legacy ID", f, :provider_legacy_id_labels
:javascript
  jQuery(function() {
    HandyworksApp.providerSetupLegacyLabels();
    HandyworksApp.providerFormValidation("#{@provider.id}","#{@provider.your_code}","#{@provider.signature_name}");
  });
