%h3
  Provider:  
  = render 'shared/switcher', :resource => @provider
= render 'form'

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to scheduling
    //#---------------------------------------------------------------------------
    HandyworksApp.schedulePopup(jQuery('.schedule_option'));
  });
