-# determine if this list is for scheduling or resource access
- availability = /^#{root_path}schedule\// =~ request.fullpath
-# provide different context help for Schedule vs. Resource views.
- if availability
  - help_text = 150
  - provider_list = "provider_schedules_list"
  - data_source = provider_availability_index_path
- else
  - help_text = 130
  - provider_list = "provider_list"
  - data_source = providers_path

%table.indexTable.display{ :id => provider_list, :data => { :source => data_source, :resource => 'provider', :container => 'user_data_content', :collection => 'Providers' } }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if not availability and can? :create, Provider
            = link_to new_provider_path, :class => "icon24 new", :title => "New Provider" do
              &nbsp;
          = link_to_help 'providers_index_help', :class => 'icon24 help', :title => "Help with Providers"  
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Providers list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('##{provider_list}'),
      #{@datatable.html_as_json.to_json});
    //# for the moment, i'm just going to insert a time icon for the provider
    //# hours button we can replace this with a CSS rule, once we've got an 24px
    //# icon selected for this:
    jQuery("a.provider-alt").attr('title','Provider Schedule');
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to scheduling
    //#  - only one of the lines below is actually going to be applicable, the
    //#    other line will have no results for its selector and thus no impact.
    //#    which one applies depends of the user is under resources or schedules
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new","a.provider-alt"], window.document, false);
  });
