- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'messages_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @message
      = render 'shared/delete_button', :path => message_path(@message), :target => "message-#{@message.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @message
      = link_to edit_message_path(@message), :class => "icon48 edit", :title => "Edit Message" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @message, :resource_name => 'message' unless @message.new_record?
    = link_to messages_path, :class => "icon48 back", :title => "List Messages" do
      Back

