= semantic_form_for @message, :as => :message, :remote => request.xhr?  do |f|
  = render 'buttons', :f => f

  %div.row#top
    %div#col1.span10
      = f.inputs :name => "Message Composition" do
        = f.input :label, :label => "Message Name", :required => true
        = f.input :message_format, :as => :select, :collection => Message::MESSAGE_FORMATS, :label => "Message Format", :class => "required", :include_blank => false

        = f.input :body, :label => "Text", :input_html => { :class => 'autogrow', :rows => 10, :cols => 100 }

:javascript 
  jQuery(function() {
    //# initialize the WYSIWYG editor interface
    CKEDITOR.replace('message[body]')
    HandyworksApp.messageFormValidation("#{@message.id}","#{@message.label}");
  });
