%table#messages_list.indexTable.display{ :data => { :source => messages_path, :resource => 'message', :container => 'user_data_content'} }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, Message
            = link_to new_message_path, :class => "icon24 new", :title => "New #{Message.model_name.human}" do
              &nbsp;
          = link_to_help 'messages_index_help', :class => 'icon24 help', :title => "Message Index help"
      %th 
      %th
      %th

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Messages list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#messages_list'),
      #{@datatable.html_as_json.to_json});
  });
