-#.row.confirmation-form
-#  .span4
-#    = form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "well confirmation" }  do |f|
-#      %h3 Confirmation Instructions
-#      -#= devise_error_messages!
-#      %fieldset
-#        .control-group
-#          = f.text_field :email, :placeholder => "Email Address"
-#          %input{ :type => :hidden, :name => :subscription_plan_id, :value => params[:plan] }
-#      = submit_tag "Send Confirmation Instruction", :disable_with => t('buttons.disable_with_sending_email'), :class => "#{button_class} button-go"
-#      - unless request.xhr?
-#        %hr
-#        %fieldset
-#          .control-group
-#            = render :partial => "devise/shared/links"
-#  - unless request.xhr?
-#    #confirmation-splash.span8

-#= render 'shared/user_form_validation'
#box_sign
  .container
    .row.box_wrapper
      .span12.box
        %div
          .head
            %h4
              Create your account
          .form
            = form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }  do |f|
              = display_base_errors resource
              = f.text_field :email, :placeholder => "Email Address"
              = submit_tag "Send Confirmation Instruction", :disable_with => t('buttons.disable_with_sending_email'), :class => "#{button_class}"
      %p.already
        Already have an account?
        = link_to 'Sign in', new_user_session_path
