#box_confirm
  .container
    .row.box_wrapper
      .span12.box
        %div
          .head
            %h4
              = t('titles.registration_confirmation')
          .form
            = semantic_form_for(resource, :as => resource_name, :url => user_confirm_path, :html => { :class => 'form-horizontal' } ) do |uf|
              -#= devise_error_messages!
              .row
                .span6
                  = uf.inputs :name => "Your Password" do
                    = uf.input :login, :as => :hidden, :input_html => { :value => "user-#{resource.id}" }
                    = uf.input :password, :input_html => {:autofocus => true}, :required => true
                    = uf.input :password_confirmation, :required => true
                    = uf.input :confirmation_token, :as => :hidden
                  = uf.inputs :name => "Account Information" do
                    = uf.semantic_fields_for :account, resource.account do |account|
                      = account.input :clinic_name, :required => true
                .span6
                  = uf.inputs :name => "User Contact Information" do
                    = uf.semantic_fields_for :contact do |contact|
                      = contact.input :first_name, :required => true
                      = contact.input :last_name, :required => true
                      = contact.semantic_fields_for :physical_address do |pa|
                        = render 'shared/address_fields', :f => pa
                      = contact.semantic_fields_for :mobile_phone do |bp|
                        = render 'shared/phone_fields_v1', :f => bp, :is_required => false
              = uf.submit "Confirm Account", :disable_with => t('buttons.disable_with'), :class => "#{button_class} button-go submit" 
