#pricing.pricing_page
  .container
    %h2.section_header
      %hr.left.visible-desktop
      %span
        Pricing
        %small
          Base Plan Packages
      %hr.right.visible-desktop

    .row.cols4
      .span3
        .price_wrapper.lite.regular
          .header
            %span
              Basic
            .price
              %span
                $19
              Per month
          .section
            %h3
              The basic plan.
            %ul.perks
              %li
                %i.i_shuffle
                One lesson a month
              %li
                %i.i_loading
                One lesson a month
            = link_to 'Subscribe', new_user_registration_path(:plan => 1), :class => 'btn btn-primary'

      .span3
        .price_wrapper.lite.regular
          .header
            %span
              Plus
            .price
              %span
                $49
              Per month
          .section
            %h3
              The plus plan.
            %ul.perks
              %li
                %i.i_shuffle
                One lesson a month
              %li
                %i.i_loading
                One lesson a month
            = link_to 'Subscribe', new_user_registration_path(:plan => 2), :class => 'btn btn-primary'

      .span3
        .price_wrapper.pro
          .header
            %span
              Premium
            .price
              %span
                $99
              Per month
          .section
            %h3
              The premium plan.
            %ul.perks
              %li
                %i.i_shuffle
                Thirty lessons a month
              %li
                %i.i_loading
                One lesson a month
            = link_to 'Subscribe', new_user_registration_path(:plan => 3), :class => 'btn btn-primary'

      .span3
        .price_wrapper.standard.regular
          .header
            %span
              Max
            .price
              %span
                $129
              Per month
          .section
            %h3
              The max plan.
            %ul.perks
              %li
                %i.i_shuffle
                Thirty lessons a month
              %li
                %i.i_loading
                One lesson a month
            = link_to 'Subscribe', new_user_registration_path(:plan => 4), :class => 'btn btn-primary'
