-# to keep things consistent
- subscription_plan = @subscriptionplan
= div_for subscription_plan do
  %h4=subscription_plan.name.humanize + ' Service Plan'
  %p
    = "#{Clinic.model_name.human.pluralize}:"
    = subscription_plan.clinic_limit > 0 ? subscription_plan.clinic_limit : t('labels.no_limit')
  %p
    Providers:
    = subscription_plan.provider_limit > 0 ? subscription_plan.provider_limit : t('labels.no_limit')
  %hr.total_line
  = number_to_currency subscription_plan.amount
  per Month.
  - unless user_signed_in?
    %br
    = link_to 'Select Plan', new_user_registration_path(:plan => subscription_plan), :class => 'plan-sign-up'

%hr
%p
  = link_to t("links.all_plans"), subscription_plans_path
