= semantic_form_for(resource, :remote => request.xhr?, :namespace => 'access', :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'access_user_edit', :method => :put }) do |f|
  = render 'buttons', :f => f
  = f.inputs :name => "Info" do
    = f.input :email
  - if Clinic.by_account(current_account.id).count > 0
    = f.inputs :name => "#{Clinic.model_name.human} Preferences" do
      = f.input :clinic, :as => :select, :collection => Clinic.by_account(current_user.account_id), :include_blank => false, :label => 'Default clinic'
  = f.inputs :name => "Password" do
    = f.input :current_password, :required => true
    = f.input :password, :label => 'New Password', :hint => 'Leave blank if you do not wish to change your password.'
    = f.input :password_confirmation, :label => 'New Password Confirmation'

-#%h3 Cancel my account
-#%p
-#  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini'}.

:javascript
  jQuery(function() {
    HandyworksApp.userProfileFormValidation("#{resource.id}","#{resource.email}");
  });
