- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'appointment_types_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @appointment_type
      = render 'shared/delete_button', :path => appointment_type_path(@appointment_type), :target => "appointment_type-#{@appointment_type.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @appointment_type
      = link_to edit_appointment_type_path(@appointment_type), :class => "#{button}", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @appointment_type , :switcher_url => appointment_types_path unless @appointment_type.new_record?
    = link_to appointment_types_path, :class => "#{button}", :title => "Appointment Types" do
      Back
