= semantic_form_for @appointment_type, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Public Appointment Options" do
        = f.input :name, :label => 'Describe this Service'
        -#= f.input :description
        = f.input :account_id, :as => :hidden
        = render 'appointment_type_property', f: f, field_label: "Can the public schedule this service?", field_symbol: :is_public
        = render 'appointment_type_property', f: f, field_label: "Can new patients schedule this service?", field_symbol: :for_new_patients
        = render 'appointment_type_property', f: f, field_label: "Can the patient change appointments?", field_symbol: :allow_user_to_change_appointment
        = render 'appointment_type_property', f: f, field_label: "Can the patient cancel appointments?", field_symbol: :allow_user_to_cancel_appointment
        = render 'appointment_type_property', f: f, field_label: "Can the patient delete appointments?", field_symbol: :allow_user_to_delete_appointment
        = render 'appointment_type_property', f: f, field_label: "Auto confirm/book new appointments?", field_symbol: :auto_confirm_appointment_create
        = render 'appointment_type_property', f: f, field_label: "Auto confirm/book changed appointments?", field_symbol: :auto_confirm_appointment_change
        = render 'appointment_type_property', f: f, field_label: "Auto confirm/unbook deleted appointments?", field_symbol: :auto_confirm_appointment_delete
      = f.inputs :name => "Which providers offer this service?" do
        = f.input :providers, :as => :check_boxes, :collection => current_account.providers, :member_label => :signature_name, :wrapper_html => { :class => "no-label" } ,:label => '&nbsp;', :input_html => { :class => "check_boxes" }
      = f.inputs :name => "In which rooms can this service be scheduled?" do
        = f.input :rooms, :as => :check_boxes, :collection => current_account.rooms, :label => '&nbsp;', :input_html => { :class => "check_boxes" }, :wrapper_html => { :class => 'no-label' }
    %div#col2.span6
      = f.inputs :name => "Appointment Scheduling Controls" do
        -# TODO make up help tip
        -# .tip
        -#  = link_to_help 'tip',114, :class => 'field_help icon16 help', :title => "What's this?"
        = render 'appointment_type_parameter', f: f, field_label: "Minimum Duration (minutes)", field_symbol: :duration_min
        = render 'appointment_type_parameter', f: f, field_label: "Typical Duration (minutes)", field_symbol: :duration
        = render 'appointment_type_parameter', f: f, field_label: "Maximum Duration (minutes)", field_symbol: :duration_max
        = render 'appointment_type_parameter', f: f, field_label: "Provider Time (minutes)", field_symbol: :provider_time
        = render 'appointment_type_parameter', f: f, field_label: "Schedule lead time (minutes)", field_symbol: :schedule_lead_time
        = render 'appointment_type_parameter', f: f, field_label: "Pre appointment time (minutes)", field_symbol: :pre_appointment_gap
        = render 'appointment_type_parameter', f: f, field_label: "Post appointment time (minutes)", field_symbol: :post_appointment_gap
        = render 'appointment_type_parameter', f: f, field_label: "New appointment deadline in hours", field_symbol: :can_create_deadline
        = render 'appointment_type_parameter', f: f, field_label: "Change appointment deadline in hours", field_symbol: :can_change_deadline
        = render 'appointment_type_parameter', f: f, field_label: "Cancel appointment deadline in hours", field_symbol: :can_cancel_deadline
        = render 'appointment_type_parameter', f: f, field_label: "Max Advance Appointments", field_symbol: :max_number_of_appointments_user_can_book_in_advance
        .control-group
          = f.label :Color
          .controls
            = f.text_field :appointment_color
          %span.color_picker.icon16.color_picker
        #color_picker

:javascript
  jQuery(function() {
    //#-----------------------------------------------------------------------------
    //# setup the color picker fields, see also HandyworksApp.setupColorPickerHandler
    //#-----------------------------------------------------------------------------
    jQuery("#color_picker").farbtastic("#appointment_type_appointment_color");
    HandyworksApp.appointmentTypeFormValidation("#{@appointment_type.id}","#{@appointment_type.name}");
  });
