-# handles both success and error cases for destroying legacy_id_label
- if @appointment_type.errors.any?
  HandyworksApp.showError("Unable to destroy the appointment type.",".flash");
- else
  HandyworksApp.showSuccess("Appointment type has been removed.",".flash");
  // removes the hidden fee id for this record which Rails puts outside of the row record from fields_for
  $('#appointment_type_#{@appointment_type.id}').remove();
