%table#appointment_types_list.indexTable.display{ :data => { :source => appointment_types_path, :resource => 'appointment_type', :container => 'user_data_content', :collection => 'AppointmentTypes' } }
  %thead
    %tr
      %th
        %div{:style => "width: 50px"}
          - if can? :create, AppointmentType
            = link_to new_appointment_type_path, :class => "icon24 new", :title => "New Appointment Type" do
              &nbsp;
          = link_to_help 'appointment_types_index_help', :class => 'icon24 help', :title => "Help with Appointment Types"  
      %th 
      %th 
      %th
      %th
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to appointment_type list
    //#---------------------------------------------------------------------------
    oTable = HandyworksApp.indexTable(jQuery('#appointment_types_list'),
      #{@datatable.html_as_json.to_json});
  });
