- button = button_class
.form-buttons
  - unless f.nil?
    - import = ImportGroup.current_import(current_account.id)
    - if can? :create, ImportGroup 
      -# and (import.nil? or import.finished?)
      = render 'shared/form_buttons_v2', :f => f, :resource_help => 'import_fb_help', :button => button, :submit_label => "Import"
    - if params[:action] == "edit"
      - if can? :destroy, @import_group
        = render 'shared/delete_button', :path => import_group_path(@import_group), :target => "import_group-#{@import_group.id}", :button => button
    -# only display buttons if the request happens to be for a full page view.
    - unless request.xhr?
      = link_to import_groups_path, :class => "#{button}", :title => "Import Groups List" do
        Back


