= semantic_form_for @import_group, :remote => request.xhr?, :html => { :multipart => true } do |f|
  = render 'buttons', :f => f
  = f.inputs :name => "Import from HandyWorks Desktop Version" do
    = f.input :import_group_type, :as => :select, :collection => get_available_import_groups, :include_blank => false
    = f.input :account_id, :as => :hidden
    = f.input :user_id, :as => :hidden
  = f.inputs :name => "Data Files" do
    = render 'shared/imports', :f => f
  -# the following fields are only displayed if specifically requested
  - if params[:expert]
    = f.inputs :name => "Options", :class => "advanced inputs" do
      = f.input :duplicate_code, :label => "How to handle duplicates?", :as => :select, :collection => ImportGroup::DUPLICATE_CODES, :include_blank => false
      = f.input :error_code, :label => "How to handle errors?", :as => :select, :collection => ImportGroup::ERROR_CODES, :include_blank => false
      = f.input :comment

:javascript
  jQuery(function() {
    HandyworksApp.Data.ImportConfiguration = #{get_csv_import_configuration_for_js};
    HandyworksApp.Data.CurrentImports = #{get_current_imports_for_js};
    jQuery("#import_group_import_group_type").change(HandyworksApp.setupImportFiles);
    //# make the initial setup for import files
    HandyworksApp.setupImportFiles();
    HandyworksApp.Configuration.expert = "#{params[:expert]}" ? true : false;
    HandyworksApp.importGroupFormValidation();
  });
