-# this is a jQuery.form recommended approach to dealing with the ifram 
-# submission requirement (for stupid browsers). it is enclosing the script (or json)
-# response within a textarea element.
%textarea
  = import_status_to_js(@import_group)
