%h3 Import Your Existing HandyWorks Data

%table#import_group_list.indexTable.display{ :data => { :source => import_groups_path, :resource => 'import_group' } }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - import = ImportGroup.current_import(current_account.id)
          - if can? :create, ImportGroup and (import.nil? or import.finished?)
            = link_to new_import_group_path, :class => "icon24 new", :id => "new_import_group_link", :title => "New Import Group" do
              &nbsp;
          = link_to_help 'import_groups_index_help', :class => 'icon24 help', :title => "What's this?"
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    //#HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Import / Export list
    //#   - sort the imports with the most recent import at the top as det
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#import_group_list'),
      #{@datatable.html_as_json({ :aaSorting => [[6,'desc']]}).to_json});
  });
