%h3
  Import Group
  = @import_group.id

%h4 Errors
-# display the error report for this import group
- report = @import_group.error_report
- if report.empty?
  Import successful
- else
  = report.to_html.html_safe
