- button = button_class
- balign ||= 'inhert'
.form-buttons{ :style => "text-align: #{balign};"}
  - unless f.nil?
    = render 'shared/form_buttons_help', :f => f, :resource_help => 'fee_schedules_fb_help', :button => button
