- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'procedures_codes_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @procedure_code
      = render 'shared/delete_button', :path => procedure_code_path(@procedure_code), :target => "procedure_code-#{@procedure_code.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @procedure_code
      = link_to edit_procedure_code_path(@procedure_code), :class => "#{button}", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @procedure_code , :switcher_url => procedure_codes_path unless @procedure_code.new_record?
    = link_to procedure_codes_path, :class => "#{button}", :title => "List Procedure codes" do
      Back
