= semantic_form_for @procedure_code, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6

      = f.inputs :name => "Basic Data" do
        = f.input :account_id, :as => :hidden
        = f.input :name, :label => "Your Code"
        = f.input :description
        = f.input :type_code, :as => :select, :collection => @procedure_code.get_select_type_codes, :include_blank => false, :label => "Code Category"
        - if @procedure_code.can_have_fee_schedules?
          #non_service_type
            = f.input :cpt_code, :required => false, :label => "CPT"
            = f.input :service_type_code,:as => :select, :collection => ProcedureCode::SERVICE_TYPE_CODES, :include_blank => false, :label => "Type of Service"
            = f.input :tax_rate_percentage

            .control-group
              = f.label :modifier, "Modifiers", :class => "proc_code_label"
              .controls
                = f.text_field :modifier, :class => "proc_code_modifier"
                = f.text_field :modifier2, :class => "proc_code_modifier"
                = f.text_field :modifier3, :class => "proc_code_modifier"
      %br

    %div#col2.span6
      - if @procedure_code.can_have_fee_schedules?
        #fee_schedule_stuff
          = f.inputs :name => "Fee Schedules" do
            -# we'd move the style information in the following out to a CSS file.
            = link_to_help 'fee_schedules_fb_help', :class => 'icon24 help', :title => "Help with Fees", :style => "float: left; position: relative; top -24px;" do
              &nbsp;
            -# .row
            -#  .span1.offset5
            -#    = link_to_help 'fee_schedules_fb_help', :class => 'icon24 help', :title => "Help with Fees" do
            -#      &nbsp;
            -# .row
            -#  .span1.offset5
            -#    = render 'buttons_fees', :f => f
            -# .row
            -#  .span1.offset5
            -#    = render 'buttons_fees', :f => f, :balign => 'right'
            .control-group
              .form_list
                %table#procedure_code_fees_table
                  %thead
                    %tr
                      %th Fee Name
                      %th Amount
                      %th.insBillable Copay
                      %th.insBillable is %?
                      %th.insBillable $$ from Ins?
                  %tbody
                    =f.fields_for :fees do |builder|
                      = render 'shared/fee_fields', :f => builder
                    %tr#add_fields_here
                      %td{ :colspan => "4" }
                        - unless params[:action] == "show"
                          = link_to_add_fields "Add Fee Schedule", f, :fees
          %br

:javascript
  jQuery(function() {
    bind_fee_schedule_calculation();
    HandyworksApp.procedureCodeForm("#{@procedure_code.id}","#{@procedure_code.name}");
  });
