%table#procedure_codes_list.indexTable.display{ :data => { :source => procedure_codes_path, :resource => 'procedure_code', :container => 'user_data_content' } }
  %thead
    %tr
      %th
        %div{:style => "width: 50px"}
          - if can? :create, ProcedureCode
            = link_to new_procedure_code_path, :class => "icon24 new", :title => "New procedure code" do
              &nbsp;
          = link_to_help 'procedure_codes_index_help', :class => 'icon24 help', :title => "Help with Procedure Codes"  
      %th 
      %th 
      %th 
      %th 
      %th 
      %th 

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);

    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Procedure codes list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#procedure_codes_list'),
      #{@datatable.html_as_json.to_json} );
  });
