- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'hcfas_fb_help', :button => button
    - if params[:action] == "edit"
      - if can? :destroy, @hcfa_form_option
        = render 'shared/delete_button', :path => hcfa_form_option_path(@hcfa_form_option), :target => "hcfa_form_option-#{@hcfa_form_option.id}", :button => button
    - if params[:action] == "show"
      - if can? :update, @hcfa_form_option
        = link_to edit_hcfa_form_option_path(@hcfa_form_option), :class => "#{button}", :title => "Edit" do
          Edit
    %p
    -# only display buttons if the request happens to be for a full page view.
    - unless request.xhr?
      = render 'shared/switcher', :resource => @hcfa_form_option unless @hcfa_form_option.new_record?
      = link_to hcfa_form_options_path, :class => "#{button}", :title => "List HCFA Forms" do
        Back

