%table#hcfa_form_options_list.indexTable.display{ :data => { :source => hcfa_form_options_path, :resource => 'hcfa_form', :container => 'user_data_content'} }
  %thead
    %tr
      %th 
        %div{:style => "width: 25px"}
          = link_to_help 'resource',139, :class => 'icon24 help', :title => "What's this?"
          = link_to_help 'hcfa_index_help', :class => 'icon24 help', :title => "Help with HCFA Setup"  
      %th
      %th
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to HCFA Forms list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#hcfa_form_options_list'),
      #{@datatable.html_as_json.to_json});
  });
