- button = button_class
.form-buttons
  - if @third_party.new_record?
    - help_text = 134
  - elsif @third_party.is_attorney?
    - help_text = 104
  - else
    - help_text = 106
  = render 'shared/form_buttons_v2', :f => f, :resource_help => 'third_parties_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @third_party
      = render 'shared/delete_button', :path => third_party_path(@third_party), :target => "third_party-#{@third_party.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, ThirdParty
      = link_to edit_third_party_path(@third_party), :class => "icon48 edit", :title => "Edit" do
        Edit
    - if @third_party.allows_hcfa?
      - if @third_party.carrier_hcfa_form_option
        - if can? :show, @third_party.carrier_hcfa_form_option
          = link_to third_party_hcfa_form_option_path(@third_party, @third_party.carrier_hcfa_form_option), :class => "icon48 client_hcfa_edit", :title => "HCFA Form Options" do
            &nbsp;






