= semantic_form_for @third_party, :remote => request.xhr?, :as => :third_party do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Third Party Information" do 
        = f.input :insurance_carrier_type_code, :label => 'Third Party Category', :as => :select, :collection => APP_CONFIG['options']['carrier_types'].sort, :include_blank => false
        = f.input :account_id, :as => :hidden
        = f.semantic_fields_for :contact do |contact|
          = f.input :alias_name, :label => 'Your Code', :required => true
          = contact.input :company_name, :required => true
          = contact.input :attention
          = contact.semantic_fields_for :physical_address do |pa|
            = render 'shared/address_fields', :f => pa
          = contact.semantic_fields_for :business_phone do |bp|
            = render 'shared/phone_fields_v1', :f => bp, :is_required => false
          = contact.semantic_fields_for :fax_phone do |fp|
            = render 'shared/phone_fields_v1', :f => fp, :is_required => false

    %div#col2.span6
      = f.inputs :name => "Notes" do 
        = f.input :notes, :label => 'This area can be used for personal notes on this third party.'

      = f.inputs :name => "Electronic Bill Information", :class => "inputs carrier_field" do 
        = f.input :payer_code, :label => 'E-Bill Payor ID'
        .control-group.boolean.input
          %label.control-label{ :for => "third_party[suppress_ebill]" }
            Suppress E-bill?
          .controls
            = f.check_box :suppress_ebill, :label => '&nbsp;'
      = f.inputs :name => "Plan Name, Legacy Provider ID and Medigap ID", :class => "inputs carrier_field" do 
        = f.input :plan_name, :label => 'HCFA 11C-Plan Name' 
        .control-group.select.input
          %label.control-label
            Legacy Provider ID
          = f.collection_select :legacy_id_label_id, LegacyIdLabel.by_account(current_account), :id, :label, {:include_blank => true}
        = f.input :medigap_code, :label => 'Medigap ID'

      = f.inputs :name => "Additional Attorney Information", :class => "inputs attorney_field" do 
        = f.semantic_fields_for :contact do |contact|
          = contact.input :first_name, :label => "Attorney's First Name"
          = contact.input :last_name, :label => "Attorney's First Name"
          = contact.semantic_fields_for :business_email do |be|
            = be.input :email, :label => 'E-Mail', :required => false

:javascript
  jQuery(function() {
    HandyworksApp.thirdPartyFormValidation("#{@third_party.id}","#{@third_party.alias_name}");
  });
