%h3
  Third Party: 
  = render 'shared/switcher', :resource => @third_party
= render 'form'

:javascript
  jQuery(function() {
    HandyworksApp.switch_third_party_type("#{@third_party.insurance_carrier_type}");
    HandyworksApp.thirdPartyEditSetup();
  });
