%table#third_parties_list.indexTable.display{ :data => { :source => third_parties_path, :resource => 'third_party', :container => 'user_data_content' } }
  %thead
    %tr
      %th
        %div{:style => "width: 50px"}
          - if can? :create, ThirdParty
            = link_to new_third_party_path, :class => "icon24 new", :title => "New #{ThirdParty.humanize}" do
              &nbsp;
          = link_to_help 'third_parties_index_help', :class => 'icon24 help', :title => "Message Index help"
 
      %th
      %th
      %th
      %th
  %tbody
 
:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#third_parties_list'),
      #{@datatable.html_as_json.to_json} );
  });
