%h3
  = "New Third Party"
= render 'form'
:javascript
  jQuery(function() {
    jQuery('#third_party_insurance_carrier_type_code').change( function() {
      var z = jQuery(this).children('option:selected').text();
      HandyworksApp.switch_third_party_type(z);
    });
    HandyworksApp.switch_third_party_type(jQuery('select#third_party_insurance_carrier_type_code option:selected').text());
  });
