- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'users_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @user
      = render 'shared/delete_button', :path => user_path(@user), :target => "user-#{@user.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @user
      = link_to edit_user_path(@user), :class => "#{button} edit", :title => "Edit User" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to users_path, :class => "#{button} back", :title => 'List Users' do
      Back
    -# = render 'shared/switcher', :resource => @user unless @user.new_record?

