- editing = /\/edit/ =~ request.fullpath
= semantic_form_for @user, :remote => request.xhr? do |uf|
  = render 'buttons', :f => uf
  %div.row#top
    %div#col1.span6
      = uf.inputs :name => "User Name and Contact Info" do
        = uf.semantic_fields_for :contact do |contact|
          -# We can use the first name field for the user's full name 
          = contact.input :first_name, :required => false, :label => "Real Name"
          = contact.semantic_fields_for :physical_address do |pa|
            = render 'shared/address_fields', :f => pa
          = contact.semantic_fields_for :mobile_phone do |bp|
            = render 'shared/phone_fields_v1', :f => bp, :is_required => false

    %div#col2.span6
      = uf.inputs :name => "Login / Password" do
        = uf.input :email, :label => "E-mail address"
        = uf.input :password
        = uf.input :password_confirmation
      - if Clinic.by_account(current_account.id).count > 0
        = uf.inputs :name => "#{Clinic.model_name.human} Preferences" do
          = uf.input :clinic, :as => :select, :collection => Clinic.by_account(current_user.account_id), :include_blank => false, :label => 'Default clinic'

  - if can? :update, Permission
    %div.row
      %div.span7
        = uf.inputs :name => "Permissions" do
          = uf.input :account_role, :as => :select, :include_blank => false,
            :collection => { "Admin" => Role::ACCOUNT_ADMIN, "Staff" => Role::ACCOUNT_STAFF }
          - if editing
            .permissions.row{ :class => "#{@user.admin? ? 'hidden' : ''}" }
              .permtree.span3
                %ul
                  = render 'shared/permission_tree_level', :permission => @permission
              .permview.span3
                = uf.semantic_fields_for :roles do |r|
                  = render 'shared/permission_views', :f => r, :user => @user, :permission => @permission


= render 'shared/user_form_validation'
