%table#users_list.indexTable.display{ :data => { :source => users_path, :resource => 'user', :container => 'user_data_content'} }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, User
            = link_to new_user_path, :class => "icon24 new", :title => "New User" do
              &nbsp;
          = link_to_help 'user_index_help', :class => 'icon24 help', :title => "Permission granted!"
      %th
      %th 
      %th 
      %th
      %th
      %th
      %th 
      %th 
      %th
      %th

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Users list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#users_list'),
      #{@datatable.html_as_json.to_json});
  });
