.row.password-change-form
  .span4
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "well user" }) do |f|
      %h3 Change your password
      -#= devise_error_messages!
      = render 'layouts/error_messages', :target => resource
      %fieldset
        .control-group
          = f.password_field :password, :placeholder => "Password"
        .control-group
          = f.password_field :password_confirmation, :placeholder => "Confirm Password"
      = submit_tag "Change my password", :disable_with => t('buttons.disable_with'), :class => "#{button_class} button-go"
      - unless request.xhr?
        %hr
        %fieldset
          .control-group
            = render :partial => "devise/shared/links"
  - unless request.xhr?
    #password-splash.span8

