.row.password-reset-form
  .span4
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "well user" }) do |f|
      %h3 I forgot my password?
      -#= devise_error_messages!
      = render 'layouts/error_messages', :target => resource
      %fieldset
        .control-group
          = f.email_field :email, :placeholder => "Email Address"
      = submit_tag "E-mail me a reset link!", :disable_with => t('buttons.disable_with_sending_email'), :class => "#{button_class} button-go"
      - unless request.xhr?
        %hr
        %fieldset
          .control-group
            = render :partial => "devise/shared/links"
  - unless request.xhr?
    #password-splash.span8

