- if current_account.account_setup.new?
  %span.label.label-success{ :class => popover_init('session',true), :data => { :placement => 'bottom',
    :title => t('popover.titles.account_setup_new'),
    :content => t('popover.content.account_setup_new') } }
    = link_to "Account Setup", edit_account_account_setup_path
- else
  %span.label.label-success{ :class => popover_init('session',true), :data => { :placement => 'bottom',
    :title => t('popover.titles.account_setup_cont'),
    :content => t('popover.content.account_setup_cont') } }
    = link_to "Account Setup", edit_account_account_setup_path
