%h3
  Account Setup

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li{ :class => "alert #{@account_setup.clinics ? 'alert-success' : ''}" }
      %a{:href => "#clinics", :data => { :toggle => 'tab' } }
        %span.badge
          1 
        Setup your clinic
        - if @account_setup.clinics
          %i.icon-ok
    %li{ :class => "alert #{@account_setup.providers ? 'alert-success' : ''}" }
      %a{:href => "#providers", :data => { :toggle => 'tab' } }
        %span.badge
          2 
        Who provides services?
        - if @account_setup.providers
          %i.icon-ok
    %li{ :class => "alert #{@account_setup.schedules ? 'alert-success' : ''}" }
      %a{:href => "#schedule", :data => { :toggle => 'tab' } }
        %span.badge
          3 
        You want to work when?
        - if @account_setup.schedules
          %i.icon-ok

  .tab-content
    #clinics.tab-pane
      To configure your clinics, we suggest that you start by editing the default clinic
      created when you signed up. 

      .row-fluid
        .span3.offset3
          = link_to "Edit Clinic", edit_clinic_path(current_account.clinics.first), :class => "btn edit button-go"
        -#.span3
          -#= link_to "New Clinic", new_clinic_path, :class => "btn new button-alt"

    #providers.tab-pane
      Start by editing the sample provider. Once out of trial mode, you can add 
      new providers.

      .row-fluid
        .span3.offset3
          = link_to "Edit Provider", edit_provider_path(current_account.providers.first), :class => "btn edit button-go"
        -#.span3
          -#= link_to "New Provider", new_provider_path, :class => "btn new button-alt"

    #schedule.tab-pane
      We've setup some good hours to start with for you. Of course
      you're welcome to change them to whatever you'd prefer. You should 
      setup your schedule for the typical week. Then if you want to take
      some time off, or work late for a particular day, you can add a 
      exception to change the schedule for a particular day or week.

      .row-fluid
        .span3.offset3
          = link_to "Edit Work Hours", edit_provider_schedule_path(current_account.providers.last), :class => "btn schedule button-go"
