%h3
  = @schedulable.switcher_title.titleize
  Available Hours

= help_button('providers_schedule_help')

%button{ :id => "#{@schedulable.id}",:class => "#{button_class} done", :title => "Get me out of here"}
  Done
%br

#schedule_notifications
#schedule_help.local_help_target{:title=>"#{@schedulable.class} Schedule"}
  Click and drag to set the times this #{@schedulable.class} can be booked by your clients.
  - if @schedulable.class.name == "Provider" && current_account.calendar.provider_schedule_location_required?
    Since your account has multiple clinic locations, you can specify for each time block in the schedule
    which locations are being served during that period.

#schedule_area

:javascript
  jQuery(function() {
    // TODO : This Provider scheduling piece is in conflict with the Appointments as both
    //  are using the Data.Clinics storage location; however, they're storing different types
    //  of objects ( Backbone collection vs. JavaScript Object ).
    HandyworksApp.Data.Clinics = #{Rabl::Renderer.json(current_account.clinics, 'clinics/index')};
    HandyworksApp.Data.ProviderScheduleLocationRequired = #{@schedulable.class.name == "Provider" && current_account.calendar.provider_schedule_location_required?};
    HandyworksApp.router.schedule_initialize('#schedule_area', #{@schedulable.schedule.to_json()});

  });
