-# define a list of required fields which can be passed in, otherwise assume false
- required_fields ||= []
= f.input :street, :label => 'Address', :required => (required_fields.include?(:street))
= f.input :street2, :label => '&nbsp;', :required => (required_fields.include?(:street2))
.string.input.optional.control-group.city_state_zip
  %label.control-label
    City, State, Zip
  .controls
    = f.text_field :city, {:style => "width: 83px"}
    = f.select :state, State::ALL_STATES.values.sort
    = f.text_field :zip, { :maxlength => 10, :style => "width: 52px"}

