%table#appointment_types_list
  %thead
    %tr
      %th &nbsp;
      %th &nbsp;
      %th &nbsp;
      %th &nbsp;
      %th.column_header_level_2{:colspan => "3"} Duration
      %th &nbsp;
      %th.column_header_level_2{:colspan => "2"} Appointment Gap
    %tr
      %th Name
      %th Description
      %th Public
      %th.vertical New Patient
      %th Min
      %th Default
      %th Max
      %th Schedule Lead Time
      %th Before
      %th After
  %tbody
    - if current_appointment_types
      %tr
        %td{:colspan => 8}
          %span.data_group_label
            General Account Appointment Types
      - current_appointment_types.each do |cs|
        %tr
          %td
            = cs.name
          %td
            = cs.description
          %td
            = cs.is_public
          %td
            = cs.for_new_patients
          %td
            = cs.duration_min
          %td
            = cs.duration
          %td
            = cs.duration_max
          %td
            = cs.schedule_lead_time
          %td
            = cs.pre_appointment_gap
          %td
            = cs.post_appointment_gap
      %tr
        %td{:colspan => 8}
          %hr.data_group_separator
      - if current_appointment_types
        %tr
          %td{:colspan => 8}
            %span.data_group_label
              Provider Specific Appointment Types
    = f.fields_for :appointment_types do |builder|
      = render 'shared/appointment_type_fields', :f => builder
    %tr#add_fields_here
      %td{ :colspan => "7" }
        - unless params[:action] == "show"
          = link_to_add_fields "Add Appointment Type", f, :appointment_types

