- unless f.object.nil?
  %tr.table_data.fields.arow{ :id => "appointment_type_#{f.object.id}" }
    - @new_record = f.object.new_record?
    %td
      %span
        - unless @new_record
          - if can? :delete, f.object
            = link_to appointment_type_path(f.object), :remote => true, :method => :delete, :class => 'icon16 stop-alt option_link delete_appointment_type', :title => 'Delete complete appointment type' do
              &nbsp;
        - else 
          = link_to_function "&nbsp;".html_safe, 'remove_a_row(this,false)', { :class => "icon16 stop", :id => "remove_new_appointment_type_#{f.object.id}", :title => 'Cancel new appointment type'}
        = f.text_field :name
    %td
      = f.input :description, :label => false
    -# NOTE : on the boolean fields, formtastic just renders them as hidden fields if there's no label
    %td
      = f.input :is_public, :label => " ", :as => :boolean
    %td
      = f.input :for_new_patients, :label => " ", :as => :boolean
    %td
      = f.input :duration_min, :label => false, :input_html => { :size => 3, :maxlength => 3 }
    %td
      = f.input :duration, :label => false, :input_html => { :size => 3, :maxlength => 3 }
    %td
      = f.input :duration_max, :label => false, :input_html => { :size => 3, :maxlength => 3 }
    %td
      = f.input :schedule_lead_time, :label => false, :input_html => { :size => 3, :maxlength => 3 }
    %td
      = f.input :pre_appointment_gap, :label => false, :input_html => { :size => 3, :maxlength => 3 }
    %td
      = f.input :post_appointment_gap, :label => false, :input_html => { :size => 3, :maxlength => 3 }
