-#------------------------------------------------------------------------------
-# Bootstrap Decoration Fragment
-#  this page fragment can be used to generate Bootstrap styled markers
-#  (e.g. labels and badges). To use the fragment, you'd call the helper
-#  methods bootstrap_label, bootstrap_badge etc.
-#------------------------------------------------------------------------------
- marker ||= "label"
- lbl_class = "#{marker}"
- lbl_class = "#{lbl_class} #{marker}-#{type}" unless type.nil?
%span{ :class => "#{lbl_class}" }
  = content
