-# OPTIMIZ : This view could be made more generic by using the general path_for() to determine the path for a resource
-#           Then it could also use the model_name method to generalize the :target generation, the end result should be we
-#           Just pass in @resource and this view will do the rest.
%a{ :href => path, :class => "#{button} button-destroy", :title => t('tips.destroy'), :data => { :method => :delete, :target => target } }
  Delete
