%tr.form-inline.table_data.fields.arow{ :id => "fee_schedule_#{f.object.fee_schedule_id}" }
  %td
    = f.hidden_field :fee_schedule_id
    = f.fields_for :fee_schedule do |fee_schedule|
      - @new_record = fee_schedule.object.new_record?
      - unless @new_record
        - if can? :delete, fee_schedule.object
          = link_to fee_schedule_path(fee_schedule.object), :remote => true, :method => :delete, :class => 'icon16 stop-alt option_link delete_fee_schedule', :title => 'Delete complete fee schedule' do
            &nbsp;
      - else
        = fee_schedule.hidden_field :account_id, :value => current_account.id
        = link_to_function "&nbsp;".html_safe, 'remove_a_row(this,false)', { :class => "icon16 stop", :id => "remove_new_fee_schedule", :title => 'Cancel new fee schedule'}
      .controls
        - if can? :update, fee_schedule.object or @new_record
          = fee_schedule.text_field :label
        - else
          = fee_schedule.text_field :label, :disabled => true
  %td
    .controls
      = f.text_field :fee, :class => 'changesExpectedInsurance'
  %td
    - if f.object.try(:is_percentage)
      - cval = f.object.copay_pct * 100
      - sval = "display:none;"
      - spct = ""
    - else
      - cval = f.object.copay.to_s
      - sval = ""
      - spct = "display:none;"
    .controls.insBillable
      = f.hidden_field :copay_pct
      = f.hidden_field :copay
      .input-append.input-prepend
        %span.copayVal.add-on{ :style => "#{sval}" }
          = f.object.copay.currency.symbol
        %input.changesExpectedInsurance.copay{:type => "text", :value => "#{cval}", :style => "width:50px;"}
        %span.copayPct.add-on{ :style => "#{spct}" }
          = "%"
  %td
    .controls 
      = f.check_box :is_percentage, :class => 'changesExpectedInsurance insBillable'
  %td
    .controls
      = f.text_field :expected_insurance_payment, :class => 'insBillable'


:javascript
  var code_category = $('#procedure_code_type_code').val()
  $('#add_fields_here').find('a').click(function(){
    if(code_category == '7'){
      $('.insBillable').hide();
    }
  })