-# setup standard form buttons
-#  to include this fragment, you should specify the form builder (f) 
-#  and an optional submit_label for the submit button
- resource_help ||= 0
- arguments = { :button_html => { :disable_with => t('buttons.disable_with')} }
- submit_label ||= ""
- unless submit_label.empty?
  - arguments[:label] = submit_label
= f.buttons do
  = f.commit_button arguments
  - unless resource_help == 0
    = link_to_help 'resource',resource_help, :class => 'icon48 help', :title => "What's this?"
  %li.reset
    %input{:type => "reset", :value => "Reset Form"}
