-# setup standard form buttons
-#  to include this fragment, you should specify the form builder (f) 
-#  and an optional submit_label for the submit button
- adding = /\/new/ =~ request.fullpath
- editing = /\/edit/ =~ request.fullpath
- display = /\/show/ =~ request.fullpath
- popup = !params[:popup].nil?
- force_add ||= false
- resource_help ||= 0
- submit_label ||= "Save"
- reset_label ||= "Reset Form"
- button ||= "btn"
- unless resource_help == 0
  = link_to get_help_path(resource_help), :class => "#{button} button-info", :title => "Tell me more!", :remote => true do
    Help

:javascript
  jQuery(function() {
    HandyworksApp.setupFormButtons();
  });
