-# setup standard form buttons
-#  to include this fragment, you should specify the form builder (f) 
-#  and an optional submit_label for the submit button
- adding = /\/new/ =~ request.fullpath
- editing = /\/edit/ =~ request.fullpath
- display = /\/show/ =~ request.fullpath
- popup = !params[:popup].nil?
- force_add ||= false
- resource_help ||= 0
- submit_label ||= "Save"
- reset_label ||= "Reset Form"
- button ||= "btn"
- unless resource_help == 0
  = link_to get_help_path(resource_help), :class => "#{button} button-info", :title => "Tell me more!", :remote => true do
    Help
- if popup or adding or force_add
  %input{:type => "button", :value => "Cancel", :class => "#{button} button-cancel cancel", :title => "Get me out of here"}
  = submit_tag submit_label, :disable_with => t('buttons.disable_with'), :class => "#{button} button-go submit popup-#{popup}", :title => "Save and Exit"
- else
  %input{:type => "reset", :value => reset_label, :class => "#{button} button-cancel reset"}

:javascript
  jQuery(function() {
    HandyworksApp.setupFormButtons();
  });
