= render 'buttons', :f => f
-# ROW 1
.container-fluid
  -##hcfa_form_label.row-fluid.first_row
  -#  #form_name.span10.offset1
  -#    %h4
  -#      = f.object.switcher_title
  -#      HCFA Printing
  #hcfa_form_row_1.row-fluid.first_row
    #box1a_fields.span2
      .hcfa_field.row-fluid.hcfa_group
        = f.label 'Box 1A'
        = f.select :box1a, HcfaFormOption::BOX1AS, {}, { :class => 'span9' }
        = f.hidden_field :form_type_code
        = f.hidden_field :account_id
        = f.hidden_field :third_party_id

    #box5_fields.span2
      .hcfa_field.row-fluid.hcfa_group
        = f.label :box5, 'Box 5'
        = f.select :box5, HcfaFormOption::BOX5S, {} , { :class => 'span9' }
    .span2 &nbsp;
    #plan_name_fields.span5.hcfa_group
      .row-fluid
        .hcfa_field.span6
          .row-fluid
            = f.label :plan_name, 'Carrier name or plan name?'
            = f.select :plan_name, HcfaFormOption::PLAN_NAMES, {} , { :class => 'span9' }
        .hcfa_field.span6
          .row-fluid
            = f.label :address, 'Name and Address?'
            = f.select :address, HcfaFormOption::ADDRESSES, {}, { :class => 'span9' }
  -# ROW 3
  %br
  #hcfa_form_row_2.row-fluid
    .span6
      .row-fluid
        .span9
          #box9_fields.hcfa_fields.hcfa_group
            .row-fluid
              .hcfa_field.span4
                .row-fluid
                  = f.label :box9, 'Box 9'
                  = f.select :box9, HcfaFormOption::BOX9S, { :multiple => true }, { :class => 'span9' }
              .hcfa_field.span4
                .row-fluid
                  = f.label :box9_s_name_is_same, 'Box 9 Name'
                  = f.select :box9_s_name_is_same, HcfaFormOption::BOX9_S_NAME_IS_SAMES, {} , { :class => 'span9' }
              .hcfa_field.span4
                .row-fluid
                  = f.label :box9a, 'Box 9a'
                  = f.select :box9a, HcfaFormOption::BOX9AS, {} , { :class => 'span9' }
            .row-fluid
              .hcfa_field.span4
                .row-fluid
                  = f.label :box9c, 'Box 9c'
                  = f.select :box9c, HcfaFormOption::BOX9CS, {} , { :class => 'span9' }
              .hcfa_field.span8
                .row-fluid
                  = f.label :box9d, 'Box 9d'
                  = f.select :box9d, HcfaFormOption::BOX9DS, {} , { :class => 'span9' }
        .span3 &nbsp;
      %br
      .row-fluid
        .span12
          .row-fluid
            #box17_fields.hcfa_fields.span12.hcfa_group
              .row-fluid
                .hcfa_field.span3
                  .row-fluid
                    = f.label :box17_name, 'Box 17 Name'
                    = f.select :box17_name, HcfaFormOption::BOX17_NAMES, {}, { :class => 'span9' }
                .hcfa_field.span5
                  .row-fluid
                    = f.label :box17_upin, 'Box 17a Upin'
                    = f.select :box17_upin, HcfaFormOption::BOX17_UPINS, {}, { :class => 'span9' }
                .hcfa_field.span4
                  .row-fluid
                    = f.label :box17_npi, 'Box 17b NPI'
                    = f.select :box17_npi, HcfaFormOption::BOX17_NPIS, {}, { :class => 'span9' }
    .span6
      .row-fluid
        #box8_fields.hcfa_fields.span3.hcfa_group
          .row-fluid
            .hcfa_field.span12
              .row-fluid
                = f.label :box8, "Box 8 Patient<br/>Status".html_safe
                = f.select :box8, HcfaFormOption::BOX8S, {} , { :class => 'span9' }
          .row-fluid
            .hcfa_field.span12
              .row-fluid
                = f.label :box10, "Box 10 Condition<br/>related to?".html_safe
                = f.select :box10, HcfaFormOption::BOX10S, {} , { :class => 'span9' }
          .row-fluid
            .hcfa_field.span12
              .row-fluid
                = f.label :date_auth, "Sig On File<br/>Date Format".html_safe
                = f.select :date_auth, HcfaFormOption::DATE_AUTHS, {} , { :class => 'span9' }
        #box4_fields.hcfa_fields.span9
          .row-fluid
            .span12.hcfa_group
              .row-fluid
                .hcfa_field.span6
                  .row-fluid
                    = f.label :box4_g_name_is_same, "Box 4 Insured's name"
                    = f.select :box4_g_name_is_same, HcfaFormOption::BOX4_G_NAME_IS_SAMES, {} , { :class => 'span9' }
                .hcfa_field.span6
                  .row-fluid
                    = f.label :box7_g_addr_is_same, "Box 4 Insured's Address"
                    = f.select :box7_g_addr_is_same, HcfaFormOption::BOX7_G_ADDR_IS_SAMES, {} , { :class => 'span9' }
              .row-fluid
                #box4_7_field.hcfa_field.span12
                  .row-fluid
                    = f.select :box4_7, HcfaFormOption::BOX4_7S, {} , { :class => 'span9' }
              .row-fluid
                #box7_g_addr_is_p_addr_field.hcfa_field.span12
                  .row-fluid
                    = f.select :box7_g_addr_is_p_addr, HcfaFormOption::BOX7_G_ADDR_IS_P_ADDRS, {} , { :class => 'span9' }
          %br
          .row-fluid
            #box11_fields.hcfa_fields.span12
              .row-fluid.hcfa_group
                .hcfa_field.span3
                  .row-fluid
                    = f.label :box11, 'Box 11'
                    = f.select :box11, HcfaFormOption::BOX11S, {}, { :class => 'span9' }
                .hcfa_field.span3
                  .row-fluid
                    = f.label :box11a, 'Box 11a'
                    = f.select :box11a, HcfaFormOption::BOX11AS, {}, { :class => 'span9' }
                .hcfa_field.span3
                  .row-fluid
                    = f.label :box11c, 'Box 11c'
                    = f.select :box11c, HcfaFormOption::BOX11CS, {}, { :class => 'span9' }
                .hcfa_field.span3
                  .row-fluid
                    = f.label :box11d, "Box 11d<br/>Other Ins".html_safe
                    = f.select :box11d, HcfaFormOption::BOX11DS, {}, { :class => 'span9' }
  -# ROW 4
  %br
  .row-fluid
    .span3
      .row-fluid
        #box19_fields.hcfa_fields.span6
          .hcfa_field.row-fluid.hcfa_group
            = f.label :box19, 'Box 19 Reserved'
            = f.select :box19, HcfaFormOption::BOX19S, {}, { :class => 'span9' }
        #box20_fields.hcfa_fields.span6
          .hcfa_field.row-fluid.hcfa_group
            = f.label :outside_lab, 'Box 20 Outside-lab'
            = f.select :outside_lab, HcfaFormOption::OUTSIDE_LABS, {}, { :class => 'span9' }
    .span5
      #box21_fields.hcfa_fields.row-fluid.hcfa_group
        #box21_field.hcfa_field.span6
          .row-fluid
            = f.label :box21, 'Box 21 Diagnosis'
            = f.select :box21, HcfaFormOption::BOX21S, {}, { :class => 'span9' }
        #print_diagnosis_description_field.hcfa_field.span6
          .row-fluid
            = f.label :print_diagnosis_description, 'Diagnosis Description'
            = f.select :print_diagnosis_description, HcfaFormOption::PRINT_DIAGNOSIS_DESCRIPTIONS, {}, { :class => 'span9' }
  -# ROW 5
  %br
  .row-fluid.hcfa_group
    .hcfa_field.span1
      .row-fluid
        = f.label :date_format, 'Date Format'
        = f.select :date_format, HcfaFormOption::DATE_FORMATS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :date_from, 'From Date'
        = f.select :date_from, HcfaFormOption::DATE_FROMS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :date_to, 'To Date'
        = f.select :date_to, HcfaFormOption::DATE_TOS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24_tos, 'TOS'
        = f.select :box24_tos, HcfaFormOption::BOX24_TOS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24_pos, 'POS'
        = f.select :box24_pos, HcfaFormOption::BOX24_POS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24_cpt_97014, 'CPT 97014'
        = f.select :box24_cpt_97014, HcfaFormOption::BOX24_CPT_97014S, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24_modifier, 'Modifier'
        = f.select :box24_modifier, HcfaFormOption::BOX24_MODIFIERS, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24_diags, 'Dx Pointer'
        = f.select :box24_diags, HcfaFormOption::BOX24_DIAGS, {}, { :class => 'span12' }
    #box24_amount_format_field.hcfa_field.span1
      .row-fluid
        = f.label :box24_amount_format, 'Charges Format'
        = f.select :box24_amount_format, HcfaFormOption::BOX24_AMOUNT_FORMATS, {}, { :class => 'span12' }
    .span1 &nbsp;
    .hcfa_field.span1
      .row-fluid
        = f.label :box24j_legacy, 'Legacy'
        = f.select :box24j_legacy, HcfaFormOption::BOX24J_LEGACIES, {}, { :class => 'span12' }
    .hcfa_field.span1
      .row-fluid
        = f.label :box24j_npi, 'NPI'
        = f.select :box24j_npi, HcfaFormOption::BOX24J_NPIS, {}, { :class => 'span12' }

  -# ROW 6
  %br
  #license.hcfa_fields.row-fluid
    .span6
      .row-fluid
        .hcfa_field.span5.hcfa_group
          .row-fluid
            = f.label :license, "Box 31 License Below Name?".html_safe
            = f.select :license, HcfaFormOption::LICENSES, {}, {:class => 'span9'}
        #box27_fields.hcfa_fields.span7.hcfa_group
          .row-fluid
            .hcfa_field.span3
              .row-fluid
                = f.label :box27, 'Box 27'
                = f.select :box27, HcfaFormOption::BOX27S, {}, {:class => 'span12'}
            .hcfa_field.span3
              .row-fluid
                = f.label :box29, 'Box 29'
                = f.select :box29, HcfaFormOption::BOX29S, {}, {:class => 'span12'}
            .hcfa_field.span3
              .row-fluid
                = f.label :box27_30_format, 'Format'
                = f.select :box27_30_format, HcfaFormOption::BOX27_30_FORMATS, {}, {:class => 'span12'}
            .hcfa_field.span3
              .row-fluid
                = f.label :total_owed, 'Box 30'
                = f.select :total_owed, HcfaFormOption::TOTAL_OWEDS, {}, {:class => 'span12'}
    .span6
      .row-fluid
        #state_fields.hcfa_fields.span1
          &nbsp;
          -#.hcfa_field.row-fluid
          -#  = f.label :state, 'State'
          -#  = f.select :state, HcfaFormOption::STATES.sort, {}, {:class => 'span12' }
        #box32_fields.hcfa_fields.span10.hcfa_group
          .row-fluid
            .hcfa_field.span3
              .row-fluid
                = f.label :box32, 'Box 32'
                = f.select :box32, HcfaFormOption::BOX32S, {}, {:class => 'span9'}
            .hcfa_field.span3
              .row-fluid
                = f.label :box32_name, 'Box 32 Name'
                = f.select :box32_name, HcfaFormOption::BOX32_NAMES, {}, {:class => 'span9'}
            .hcfa_field.span3
              .row-fluid
                = f.label :box32a, 'Box 32a'
                = f.select :box32a, HcfaFormOption::BOX32AS, {}, {:class => 'span9'}
            .hcfa_field.span3
              .row-fluid
                = f.label :box32b, 'Box 32b'
                = f.select :box32b, HcfaFormOption::BOX32BS, {}, {:class => 'span9'}

  -# ROW 7
  %br
  .row-fluid
    .span3
      .row-fluid
    .span7 &nbsp;
    .span4 
      #box33_fields.hcfa_fields.row-fluid.hcfa_group
        .hcfa_field.span4
          .row-fluid
            = f.label :clin_phone, 'Box 33 Phone #'
            = f.select :clin_phone, HcfaFormOption::CLIN_PHONES, {}, { :class => 'span9' }
        .hcfa_field.span4
          .row-fluid
            = f.label :box33_name, 'Box 33 Name'
            = f.select :box33_name, HcfaFormOption::BOX33_NAMES, {}, { :class => 'span9' }
        .hcfa_field.span4
          .row-fluid
            = f.label :box33b, 'Box 33b'
            = f.select :box33b, HcfaFormOption::BOX33BS, {}, { :class => 'span9' }




