- unless f.object.nil?
  = f.input :import_type, :as => :hidden
  = f.input :account_id, :as => :hidden
  = f.input :user_id, :as => :hidden
  = f.input :data, :label => "CSV File", :hint => "Instruction"

