-# the .local_tip / .local_tip_icon set of elements will display in a popup
-# dialog, similar to the help_dialog() function. its initialized through the
-# put_on_style() method's call to init_local_tips()
.local_tip_icon.icon16.help
#imports_help.local_tip{:title => "Data Files"}
  Specific data files will be required depending on which value you select for Import group type.
  #import_group_help
= f.fields_for :imports do |builder|
  = render 'shared/import_fields', :f => builder
#add_fields_here
  -# this line will capture the appropriate nested association form fields
  - content_fields = get_form_for_association(f,:imports)

:javascript
  jQuery(function() {
    //# store the nested form content in a variable to accessed as needed via JavaScript.
    HandyworksApp.Data.import_form_content = "#{content_fields}";
  });
