- providers_list = Provider.by_account(current_account)
- unless providers_list.empty?
  = f.input :default_provider, :as => :select, :label => 'Choose the default provider for new cases', :collection => providers_list, :include_blank => false, :label_method => :signature_name, :include_blank => false
  %label.control-label.long-label
    Accept insurance assignment automatically for:
  .controls
    = f.input :insurance_carrier_assignment_policy, :as => :check_boxes, :collection => APP_CONFIG['options']['insurance_carrier_assignment_policy'].sort, :label => '&nbsp;', :input_html => { :class => "check_boxes" }, :wrapper_html => { :class => 'no-label' }
= f.input :default_place_of_service, :as => :select, :collection => APP_CONFIG['options']['places_of_service'], :include_blank => false
