= f.input :patient_number_scheme, :as => :select, :include_blank => false, :collection => APP_CONFIG['options']['patient_number_scheme'].invert, :label => "Patient Account Numbers?"
.control-group.optional.check_box
  %label.control-label.long-label
    Send overdue patients a statement?
  .controls
    = f.check_box :should_send_statements_when_overdue, :label => '&nbsp;'
.control-group.optional.check_box
  %label.control-label.long-label
    Charge interest on overdue account?
  .controls
    = f.check_box :should_charge_overdue_account, :label => '&nbsp;'
= f.input :overdue_fee_percentage, :label => "Overdue interest rate"