-# renders an html representation of the permissions
-#  with the heirarchy defined in config/permission.yml
-#  to be rendered as a navigable jstree view.
- permission.children.each do |a_perm| 
  - if a_perm.configurable?
    %li{ :id => "#{a_perm.resource}_perm", :data => { :field => "#{a_perm.resource}_field" } }
      %a{ :href => "#"}
        = a_perm.resource_title
      - unless a_perm.children.empty?
        %ul
          = render 'shared/permission_tree_level', :permission => a_perm
