- role = f.object
- if role.try(:resource_type) and role.valid_resource?
  .permission_field{ :id => "#{role.resource_type}_field", :style => "display: none;"}
    -# NOTE : for Ruby 1.8.7, hash order is unspecified, so we're using the nested array 
    -# TODO : with Ruby 1.9 upgrade this would look better as a typical hash construct.
    = f.input :name, :label => role.resource_type, :as => :select,
      :collection => Permission.access_levels(role.resource_type),
      :include_blank => false
    = f.hidden_field :resource_type
