-# define is_required in the calling page to determine if this field is marked as required on the HTML form.
-#:hint => "(999) 999-9999[x99999]", removed sbs
- is_required ||= false
= f.input :number, :required => is_required, :input_html => { :value => phone_fmt(f.object.number), :class => "phone-input" }
