- is_required ||= false
- @new_record = f.object.new_record?
%tr.table_data.fields.arow{ :id => "provider_contact_attributes_phone_#{f.object.id}" }
  %td
    - unless @new_record
      - if can? :update, f.object.try(:phoneable).try(:contactable)
        = link_to_function "&nbsp;".html_safe, 'destroy_a_row(this,false)', { :class => "icon16 stop-alt", :title => 'Delete phone'}
    - else
      = link_to_function "&nbsp;".html_safe, 'remove_a_row(this,false)', { :class => "icon16 stop", :title => 'Cancel new phone'}
    = f.text_field :number, :required => is_required, :value => phone_fmt(f.object.number), :class => "phone-input required"
  %td
    = f.select :label, Phone::PHONE_LABELS, :class => "required"
  %td
    = f.check_box :primary
- unless @new_record
  = f.hidden_field :_destroy, :value => false, :class => "destroy-resource"

:javascript
  jQuery(function() {
    HandyworksApp.phoneMask('.phone-input');
  });
