%tr.table_data.fields.arow{ :id => "legacy_id_label_#{f.object.legacy_id_label_id}" }

  %td
    = f.hidden_field :legacy_id_label_id
    = f.fields_for :legacy_id_label do |legacy_id_label|
      - @new_record = legacy_id_label.object.new_record?
      = legacy_id_label.hidden_field :account_id, :value => current_account.id
      - unless @new_record
        - if can? :delete, legacy_id_label.object
          = link_to legacy_id_label_path(legacy_id_label.object), :remote => true, :method => :delete, :class => 'icon16 stop-alt option_link delete_legacy_id_label', :title => 'Delete complete legacy id label' do
            &nbsp;
      - else
        = link_to_function "&nbsp;".html_safe, 'remove_a_row(this,false)', { :class => "icon16 stop", :id => "remove_new_legacy_id_label", :title => 'Cancel new legacy id'}
      - if can? :update, legacy_id_label.object or @new_record
        = legacy_id_label.text_field :label
      - else
        = legacy_id_label.text_field :label, :disabled => true
  %td
    = f.text_field :legacy_id_value
