-# BLS eventually this could be generalized to a helper / extracted to a gem.
.data_switcher
  - resource_name ||= resource.class.model_name.to_s.underscore
  - switcher_url ||= url_for(:action => 'index')
  %span.text.switcher
    = collection_select resource_name.to_sym, :id, resource.class.send(:switcher_order, current_account, current_clinic), :id, :switcher_title, {}, {:color => 'blue'}

:javascript
  jQuery(function() {
    HandyworksApp.resourceSwitcherSetup("#{switcher_url}", "#{resource_name}");
  });
