-#------------------------------------------------------------------------------
-# this validation logic is applied in 2 places identicaly at the moement
-#   app/views/devise/registrations/new.html.haml
-#   app/views/users/_form.html.haml
-#
-# NOTE : This is no longer the case after 3.2 upgrade.
-#------------------------------------------------------------------------------
:javascript
  jQuery(function() {
    HandyworksApp.userFormValidation("#{@user.id}","#{@user.account_role}","#{@user.email}");
  });
