#contact.contact_page
  .container
    %h2.section_header
      %hr.left.visible-desktop
      %span
        Contact Us
      %hr.right.visible-desktop
    .row.map
      .span12
        .gmaps
          %iframe{:style=>"width: 100%; height: 100%; border: none;", :src => "https://maps.google.com/maps?q=140+East+28th+Street+(Apt+1F)++New+York,+NY+10016&hl=en&sll=37.6,-95.665&sspn=52.605905,112.763672&hnear=140+E+28th+St+%231f,+New+York,+10016&t=m&z=16&amp;output=embed".html_safe }

        %h3
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    .row.form
      .span6
        = form_for(ContactUs.new, :remote=>true,:url => 'contact_us/send_us',:html => {:class => "form-horizontal"} ) do |f|
          .control-group
            %label.control-label{:for => "contact_us_name"}
              Name
            .controls
              = f.text_field :name, :class => "span4"
          .control-group
            %label.control-label{:for => "contact_us_email"}
              Email
            .controls
              = f.text_field :email, :class => "span4"
          .control-group
            %label.control-label{:for => "contact_us_phone"}
              Phone
            .controls
              = f.text_field :phone, :class => "span4"
          .control-group
            %label.control-label{:for => "contact_us_city"}
              City
            .controls
              = f.text_field :city, :class => "span4"
          .control-group
            %label.control-label{:for => "contact_us_comment"}
              Comment
            .controls
              = f.text_area :comment, :class => "span4", :rows => 6
          .control-group
            .controls.action
              %button.btn{:type => "submit"}
                Send

          %h3
            Social media
            .social
              %a{:href=>"#"}
                %i.social.tw
              %a{:href=>"#"}
                %i.social.fb
              %a{:href=>"#"}
                %i.social.in
              %a{:href=>"#"}
                %i.social.yt
              %a{:href=>"#"}
                %i.social.vim

