#faq.faq_page
  .container
    -# <!-- header -->
    %h2.section_header
      %hr.left.visible-desktop
      FAQ
      %hr.right.visible-desktop

    -# <!-- list -->
    .row
      .span12
        - unless @questions.empty?
          = render @questions
        - else
          .faq
            .question
              = t('public.questions.empty')

