#features
  .container
    -# <!-- header -->
    %h2.section_header
      %hr.left.visible-desktop
      %span
        Features
      %hr.right.visible-desktop
    -# <!-- feature list -->
    .row
      .span12
        %h3.intro
          Whether you need to create a brand from scratch, including marketing materials
          and a beautiful and functional website or whether you are looking for a design
          refresh pleased with the results.
    .row

      .span4.feature
        = image_tag "measure/feature1.jpg", :class => 'thumb'
        %h3
          %i.i_cloud
        %p.description
          There are many variations of passages of Lorem Ipsum available, but the 
          majority have suffered alteration in some form, by injected humour, or randomised 
          words which don't look even slightly believable.
        %a.btn.btn-default{href: "#"}
          more

      .span4.feature
        = image_tag "measure/feature2.jpg", :class => 'thumb'
        %h3
          %i.i_chart
        %p.description
          There are many variations of passages of Lorem Ipsum available, but the 
          majority have suffered alteration in some form, by injected humour, or randomised 
          words which don't look even slightly believable.
        %a.btn.btn-default{href: "#"}
          more

      .span4.feature
        = image_tag "measure/feature3.jpg", :class => 'thumb'
        %h3
          %i.i_movil
          Responsive clean theme
        %p.description
          There are many variations of passages of Lorem Ipsum available, but the 
          majority have suffered alteration in some form, by injected humour, or randomised 
          words which don't look even slightly believable.
        %a.btn.btn-default{href: "#"}
          more

#testimonials
  .container
    .controls
      %hr
    .phrases_wrapper
      .phrase
        .row
          .span7
            %p.testimony
              There are many variations of passages words which don't look even slightly passage of anything embarrassing hidden in the middle.
              %span
                "
          .span3.offset1
            .pic
              = image_tag "measure/pic1.jpg", :class => 'img-circle'
              %span.name
                Somebody User
              %span.position
                Chiropractor
