#hero
  .container
    -# <!-- starts carousel -->
    .row.animated.fadeInDown
      .span12
        #myCarousel.carousel.slide
          .carousel-inner
            -#<!-- carousel items -->
            .active.item.slide1
              .row
                .span6
                  = image_tag "measure/slide1.png"
                .span4
                  %h1
                    Responsive and Clean Wrapbootstrap Theme
                  %p
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by
                    injected humour, or randomised words which don't look.
                  = link_to 'Sign up Now!', new_user_registration_path, :class => 'btn btn-success btn-large'
            .item.slide2
              .row
                .span4.animated.fadeInUpBig
                  %h1
                    Fully responsive blog template
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Nisi ut aliquip ex ea commodo consequat.
                  = link_to 'Watch it now!', new_user_registration_path, :class => 'btn btn-success btn-large'
                .span6.animated.fadeInDownBig
                  = image_tag "measure/slide2.png"
            .item.slide3.animated.fadeInUpBig
              = image_tag "measure/slide3.png"
          -# <!-- Carousel nav -->
          %a.carousel-control.left{ href: "#myCarousel", data: { slide: "prev" } }
            &lsaquo;
          %a.carousel-control.right{ href: "#myCarousel", data: { slide: "next" } }
            &rsaquo;
#intro
  .container
    %h1
      HandyWorks is Chiropractic and Acupuncture Office Management Software.
