#blog_wrapper
  .container
    .row
      .span8
        %h1.header
          News
          %hr
        .post
          .row
            .span3
              = link_to 'news_item' do
                = image_tag "measure/pic_blog.png", :class => "main_pic"
            .span4.info
              = link_to 'news_item' do
                %h3
                  Measure theme News post
              %p
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Some One
                .date
                  Oct 12, 2012

          = link_to "more", "news_item", :class => "btn"

        .post
          .row
            .span3
              = link_to 'news_item' do
                = image_tag "measure/pic_blog.png", :class => "main_pic"
            .span4.info
              = link_to 'news_item' do
                %h3
                  Measure theme News post
              %p
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Some One
                .date
                  Oct 12, 2012

          = link_to "more", "news_item", :class => "btn"

        .post
          .row
            .span3
              = link_to 'news_item' do
                = image_tag "measure/pic_blog.png", :class => "main_pic"
            .span4.info
              = link_to 'news_item' do
                %h3
                  Measure theme News post
              %p
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              .post_info
                .author
                  Some One
                .date
                  Oct 12, 2012

          = link_to "more", "news_item", :class => "btn"

        .pagination
          %ul
            %li
              %a{href: "#"}
                Prev
            %li
              %a{href: "#"}
                1
            %li
              %a{href: "#"}
                2
            %li
              %a{href: "#"}
                3
            %li
              %a{href: "#"}
                4
            %li
              %a{href: "#"}
                Next

      .span3.sidebar.offset1
        %input.input-large.search-query{type: "text", placeholder: "Search"}
        %h4.sidebar_header
          Menu
        %ul.sidebar_menu
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
          %li
            %a{href: "#"}
              Maecenas Euismod Elit
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
          %li
            %a{href: "#"}
              Maecenas Euismod Elit
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
        %h4.sidebar_header
          Recent posts
        %ul.recent_posts
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Suspendisse Semper Ipsum
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Maecenas Euismod Elit
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Suspendisse Semper Ipsum
