#blog_wrapper.blog_post
  .container
    .row
      .span8
        %h1.header
          Maecenas Euismod Elit
        = image_tag "measure/blog_post.jpg", :class => "post_pic"
        .post_content
          %p
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          %p
            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          %p
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
          %p
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
          .author
            Some Writer
          .date
            Oct 12, 2012

      .span3.sidebar.offset1
        %input.input-large.search-query{type: "text", placeholder: "Search"}
        %h4.sidebar_header
          Menu
        %ul.sidebar_menu
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
          %li
            %a{href: "#"}
              Maecenas Euismod Elit
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
          %li
            %a{href: "#"}
              Maecenas Euismod Elit
          %li
            %a{href: "#"}
              Suspendisse Semper Ipsum
        %h4.sidebar_header
          Recent posts
        %ul.recent_posts
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Suspendisse Semper Ipsum
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Maecenas Euismod Elit
          %li
            .row
              .span1
                %a{href: "#"}
                  = image_tag "measure/pic_blog.png", :class => "thumb"
              .span2
                %a.link{href: "#"}
                  Suspendisse Semper Ipsum

