- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'import_groups_fb_help', :submit_label => "Import"
    - if params[:action] == "edit"
      - if can? :destroy, @import
        = render 'shared/delete_button', :path => import_path(@import), :target => "import-#{@import.id}", :button => button
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to imports_path, :class => "#{button}", :title => "List Imports" do
      Back
