= semantic_form_for @import, :remote => request.xhr?, :html => { :multipart => true } do |f|
  = render 'buttons', :f => f
  = f.inputs :name => "Import CSV Data" do
    = f.input :import_type, :as => :select, :collection => APP_CONFIG['csv_import']['configuration']['types'], :include_blank => false
    = f.input :account_id, :as => :hidden
    = f.input :user_id, :as => :hidden
    %li
      %label
        CSV File
      %input#import_csv_file{:type => :file, :name => "import[data]"}

:javascript
  jQuery(function() {
    HandyworksApp.importFormValidation();
  });
