%h3 Imports (single resource type)

%table#imports_list.indexTable.display{ :data => { :source => imports_path, :resource => 'import' } }
  %thead
    %tr
      %th
        %div{:style => "width: 25px"}
          - if can? :create, Import
            = link_to new_import_path, :class => "icon24 new", :id => "new_import_link", :title => "New Import" do
              &nbsp;
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody
            
:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);

    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Imports list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#imports_list'),
      #{@datatable.html_as_json.to_json});
  });
