%h3
  Import
  = @import.id

%h4 Errors
-# display the error report for this import group
-# TODO : move the logic regarding import checking for empty before trying to display the table
- report = @import.error_report
- if report.empty?
  Import successful
- else
  = report.to_html.html_safe
