- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'diagnosis_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @diagnosis_code
      = render 'shared/delete_button', :path => diagnosis_code_path(@diagnosis_code), :target => "diagnosis_code-#{@diagnosis_code.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @diagnosis_code
      = link_to edit_diagnosis_code_path(@diagnosis_code), :class => "#{button}", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @diagnosis_code , :switcher_url => diagnosis_codes_path unless @diagnosis_code.new_record?
    = link_to diagnosis_codes_path, :class => "#{button}", :title => "Diagnosis Code List" do
      Back
