= semantic_form_for @diagnosis_code, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Diagnosis Code Data" do
        = f.input :name, :label => "Your Code"
        = f.input :code, :label => "ICD-9"
        = f.input :icd10, :label => "ICD-10"
        = f.input :description 
        = f.input :account_id, :as => :hidden

:javascript
  jQuery(function() {
    HandyworksApp.diagnosisCodeValidation("#{@diagnosis_code.id}","#{@diagnosis_code.name}");
  });
