%table#diagnosis_codes_list.indexTable.display{ :data => { :source => diagnosis_codes_path, :resource => 'diagnosis_code', :container => 'user_data_content'} }
  %thead
    %tr  
      %th
        %div{:style => "width: 50px"}
          - if can? :create, DiagnosisCode
            = link_to new_diagnosis_code_path, :class => "icon24 new", :title => "New Diagnosis code" do
              &nbsp;
          = link_to_help 'diagnosis_codes_index_help', :class => 'icon24 help', :title => "Help with Diagnosis Codes"  
      %th
      %th
      %th
      
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Diagnosis codes list
    //#---------------------------------------------------------------------------
    oTable = HandyworksApp.indexTable(jQuery('#diagnosis_codes_list'),
      #{@datatable.html_as_json.to_json});
  });
