/*
 * changes required to integrate the CSS styles from the measure theme with 
 * a generic newer version of bootstrap.
 */
.navbar .nav > li > a {
  font-weight: normal;
  &.btn-header {
    font-weight: bold;
  }
}

#hero {
  width: 100%;

  .carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    font-size: 35px;
    font-weight: bold;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.85;
    filter: alpha(opacity=50);
  }
}

#contact {
  .gmaps {
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .address {
    .info {
      a {
        color: black;
        font-weight: normal;
        text-decoration: none;
      }
    }
  }
}

#box_login,#box_sign,#box_reset { 
  .box {
    .head {
      margin-bottom: 7px;
    }
    .form input[type="text"],input[type="email"],input[type="password"] {
      border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
      border-left: 1px solid #DBDBDB;
      border-style: solid;
      border-width: 1px;
      font-size: 16px;
      height: 30px;
      margin-bottom: 16px;
      width: 95%;
    }
  }
}

#box_login .box .form .remember .left {
  width: 60%; // required for the text "Please Remember Me"
}

#pricing .price_wrapper .header {
  padding: 25px 0px 0px 25px;  // spaching changed to handle 3 digit prices.
}

#box_confirm .box_wrapper{
  margin-left: 0;
  p.already{
    text-align: center;
    font-style: 15px;
    color: #454B52;
  }
  .box {
    background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	float: none;
	padding-bottom: 26px;
	margin: 50px auto 0;
	margin-bottom: 25px;
	box-shadow: 0px 0px 10px 0px #DDD;
    .head {
      background-color: #F4F4F4;
      border-bottom: 1px solid #D6D6D6;
      border-radius: 4px 4px 1px 0;
      display: inline-block;
      margin-bottom: 37px;
      padding: 25px 0 25px;
      text-align: center;
      width: 100%;
      h4 {
        font-weight: normal;
        color: #373D44;
        font-size: 21px;
        margin: 0px;
      }
    }
    form {
      margin: 0px;
    }
    .form {
      margin: 0 auto;
      text-align: center;
      input[type="submit"] {
          border-color: #CCCCCC;
          border-radius: 7px 7px 7px 7px;
          color: #394350;
          font-size: 16px;
          font-weight: 900;
          margin-top: 34px;
      }
    }
  }
}


