- button = button_class
= semantic_form_for @calendar, :method => :put, :remote => request.xhr?, :url => "#{root_path}schedule/calendar" do |f|
  .form-buttons
    = render 'shared/form_buttons_v2', :f => f, :buttons => button
  = f.inputs :name => "Appointment Types" do
    #appointment_types_help.tip
      = link_to_help 'tip',110, :class => 'field_help icon16 help', :title => "What's this?"
    %li
      .form_list
        = render 'shared/appointment_types', :f => f, :current_appointment_types => nil
:javascript
  jQuery(function() {
    //# setup fee schedule deletion
    jQuery('.delete_appointment_type').bind('ajax:error', function(evt, xhr, status, error) {
      console.error('An error occured processing your request.',xhr.responseText);
    }).bind('ajax:beforeSend', function(){
      return(confirm('This will delete the appointment type, but not any appointments. Are you sure?'));
    });
  });
