-#==============================================================================
-# This file initializes the appointment calendar view within the #calendar_content
-# container. It contains no actual markup itself.
-#==============================================================================
:javascript
  jQuery(function() {
    //# order of the initializations is important
    HandyworksApp.Data.CalendarOption = new HandyworksApp.Models.CalendarOption(#{Rabl::Renderer.json(@calendar.appointment_calendar_for(current_clinic), 'calendars/options')});
    HandyworksApp.Data.AppointmentTypes = new HandyworksApp.Collections.AppointmentTypes(#{Rabl::Renderer.json(@calendar.appointment_types, 'appointment_types/index')});
    HandyworksApp.Data.Clinics = new HandyworksApp.Collections.Clinics(#{Rabl::Renderer.json(@clinics, 'clinics/index')});
    HandyworksApp.Data.Rooms = new HandyworksApp.Collections.Rooms(#{Rabl::Renderer.json(@rooms, 'rooms/index')});
    HandyworksApp.Data.Providers = new HandyworksApp.Collections.Providers(#{Rabl::Renderer.json(@providers, 'providers/index')});
    //HandyworksApp.router.appointment_initialize('#calendar_content', #{@calendar.appointment_calendar_for(current_clinic)});
    HandyworksApp.router.appointment_initialize('#calendar_content', #{Rabl::Renderer.json(@calendar.appointment_calendar_for(current_clinic), 'calendars/show')});

    //# define provider style rules
    HandyworksApp.applyProviderStyles();
    
  });
