- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'help_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @help
      = render 'shared/delete_button', :path => help_path(@help), :target => "help-#{@help.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @help
      = link_to edit_help_path(@help), :class => "icon48 edit", :title => "Edit Help" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    -# = render 'shared/switcher', :resource => @help, :resource_name => 'help' unless @help.new_record?
    = link_to helps_path, :class => "icon48 back", :title => "List Helps" do
      Back

