= semantic_form_for @help, :as => :help, :remote => request.xhr?  do |f|
  = render 'buttons', :f => f

  %div.row#top
    %div#col1.span10
      = f.inputs :name => "Help Composition" do
        = f.input :label, :required => true
        = f.input :title, :required => true
        = f.input :body, :label => "Help Text", :input_html => { :class => 'autogrow', :rows => 10, :cols => 100 }

:javascript 
  jQuery(function() {
    //# initialize the WYSIWYG editor interface
    CKEDITOR.replace('help[body]')
    //HandyworksApp.helpFormValidation("#{@help.id}","#{@help.label}");
  });
