%table#helps_list.indexTable.display{ :data => { :source => helps_path, :resource => 'help' } }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, Help
            = link_to new_help_path, :class => "icon24 new", :title => "New #{Help.model_name.human}" do
              &nbsp;
          = link_to_help 'help_index_help', :class => 'icon24 help', :title => "About Helps?"
      %th 
      %th
      %th

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Helps list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#helps_list'),
      #{@datatable.html_as_json.to_json});
  });
