- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'patients_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @patient
      = render 'shared/delete_button', :path => patient_path(@patient), :target => "patient-#{@patient.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @patient
      = link_to edit_patient_path(@patient), :class => "icon48 edit", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to patients_path, :class => "#{button}", :title => "Patient List" do
      Back



