- unless @patient.new_record?
  :javascript
    //#---------------------------------------------------------------------------
    //# add this current patient to the client side cache
    //#---------------------------------------------------------------------------
    _patient = new HandyworksApp.Models.Patient(#{@patient.to_json()});
    HandyworksApp.Data.CurrentPatient.set({patient: _patient});
    HandyworksApp.Data.Patients.add([_patient]);

= semantic_form_for @patient, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.semantic_fields_for :contact do |contact|
        = f.inputs :name => "Essential Contact Info" do
          = f.input :account_id, :as => :hidden
          = contact.input :last_name, :required => true
          .control-group.string.salute_first_middle
            %label
              Salute, First, Middle
            .controls
              = contact.select :title, APP_CONFIG['options']['title']
              = contact.text_field :first_name, {:style => "width: 83px"}
              = contact.text_field :middle_initial, {:style => "width: 41px"}
          = contact.semantic_fields_for :personal_email do |be|
            = be.input :email, :label => 'E-mail', :required => false
          .control-group
            %table#phone_list.table.table_bordered.table_condensed
              %thead
                %tr
                  %th Phone #
                  %th Type
                  %th.flag Primary
              %tbody
                = contact.fields_for :phones do |ph|
                  = render 'shared/phone_fields', :f => ph, :is_required => false
                %tr#add_fields_here
                  %td{ :colspan => "4" }
                    - unless params[:action] == "show"
                      = link_to_add_fields "Add Phone", contact, :phones
          = contact.semantic_fields_for :physical_address do |pa|
            = render 'shared/address_fields', :f => pa

        = f.inputs :name => "Employment Information" do
          -#= f.input :employmentstatus
          = contact.input :occupation, :label => "Occupation"
          = f.semantic_fields_for :employer do |employer|
            = employer.semantic_fields_for :contact do |ec|
              = ec.input :company_name
              = ec.semantic_fields_for :physical_address do |pa|
                = render 'shared/address_fields', :f => pa

    %div#col2.span6
      = f.inputs :name => "EHR Data" do
        = f.input :birthdate, :as => :string, :input_html => { :value => f.object.birthdate.nil? ? '' : I18n.l(f.object.birthdate) } 
        = f.input :sex, :as => :select, :collection => APP_CONFIG['options']['sex'], :include_blank => false
        = f.input :race, :as => :select, :collection => APP_CONFIG['options']['race'], :label => 'Race', :include_blank => true, :required => false, :default => "White"
        = f.input :ethnicity, :as => :select, :collection => APP_CONFIG['options']['ethnicity'], :label => 'Ethnicity', :include_blank => true, :required => false, :default => "Not Hispanic or Latino"
        = f.input :language, :as => :select, :collection => APP_CONFIG['options']['language'], :label => 'Preferred Language', :include_blank => true, :required => false, :default => "English"
        = render 'smoking_check_box', f: f, field_label: "Smokes tobacco?", field_symbol: :smoker


      = f.inputs :name => "Additional Data" do
        = f.input :ssn, :label => "Tax or Other ID"
        = f.input :alt_id, :label => "Internal Account ID"
        = f.input :marital_status_code, :as => :select, :collection => Patient::MARITAL_STATUS_CODES, :include_blank => false, :required => false, :label => "Marital Status"
        = f.input :employment_status_code, :as => :select, :collection => Patient::EMPLOYMENT_STATUS_CODES, :include_blank => false, :required => false, :label => "Work Status"
        = f.input :student_status_code, :as => :select, :collection => Patient::STUDENT_STATUS_CODES, :include_blank => false, :required => false, :label => "Student Status"
        = f.input :spouse_name, :label => "Spouse's Name"
        = f.input :clinic, :as => :select, :collection => Clinic.by_account(current_account), :include_blank => false


:javascript
  jQuery(function() {
    HandyworksApp.setupPatientFormView();
    HandyworksApp.patientFormValidation();
  });
