%table#patients_list.indexTable.display{ :data => { :source => patients_path, :resource => 'patient', :container => "patients_content", :collection => 'Patients' } }
  %thead
    %tr
      %th
        %div{:style => "width: 50px"}
          - if can? :create, Patient
            = link_to new_patient_path, :class => 'icon24 new', :title => "New Patient" do
              &nbsp;
          = link_to_help 'patients_index_help', :class => 'icon24 help', :title => "About Patients"
      %th 
      %th
      %th 
      %th 
      %th 
      %th 
      %th 
  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Patients list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#patients_list'),
      #{@datatable.html_as_json.to_json});
    //#---------------------------------------------------------------------------
    //# Select Current Patient
    //#---------------------------------------------------------------------------
    jQuery('.dataTable tbody tr').click(HandyworksApp.changeCurrentPatientCB);
    //#---------------------------------------------------------------------------
    //# set the current patient if applicable
    //#  - passes the updated patient information back to the current collection
    //#---------------------------------------------------------------------------
    var current_patient_id = "#{current_patient.try(:id)}";
    if ( current_patient_id ) {
      HandyworksApp.Data.Patients.add([#{current_patient.to_json}], {merge: true});
      HandyworksApp.Data.CurrentPatient.update(current_patient_id);
    }
  });
