#public_appointments

:javascript
  jQuery(function() {
    HandyworksApp.Data.account_id = #{@account.id};
    HandyworksApp.Data.clinic_id = #{@clinic.nil? ? "''" : @clinic.try(:id)};
    if ( HandyworksApp.Data.clinic_id ) {
      HandyworksApp.Data.CurrentClinic = new HandyworksApp.Models.Clinic(#{@clinic.nil? ? "" : Rabl::Renderer.json(@clinic, 'clinics/show')});
    }
    HandyworksApp.Data.Clinics = new HandyworksApp.Collections.Clinics(#{Rabl::Renderer.json(@account.clinics, 'clinics/index')});
    HandyworksApp.Data.Providers = new HandyworksApp.Collections.Providers(#{Rabl::Renderer.json(@account.providers, 'providers/index')});
    HandyworksApp.Data.AppointmentTypes = new HandyworksApp.Collections.AppointmentTypes(#{Rabl::Renderer.json(@account.appointment_types.public,'appointment_types/index')});
    HandyworksApp.Data.Times = new HandyworksApp.Collections.Times();
    HandyworksApp.initialize_public_appointment();
  });
