- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
- title = @subscription.last_4_digits.nil? ? "Add Credit Card" : "Change Credit Card"
%h3 Subscription Management
.row-fluid
  .span6
    %h4
      Payment Method
    .row-fluid
      .span8
        - if @subscription.last_4_digits
          Using card ending with
          = "...#{@subscription.last_4_digits}"
        - else
          Add credit card
      .span4
        %a.btn.btn-mini{ :data => {:toggle=>"modal"}, :href=>"#card-data",  :type=>"button"}
          - if @subscription.last_4_digits
            Change card
          - else
            Add card
  .span6
    %h4
      Subscription Plan
    .row-fluid
      .span8
        = @subscription.subscription_plan_name.titleize
      .span4
        %a.btn.btn-mini{ :data => {:toggle=>"modal"}, :href=>"#plan-options",  :type=>"button"}
          Change plan

.row-fluid
  .span6
    %h4 Cancel Subscription
    .row-fluid
      .span8
        Unhappy?
      .span4
        -# manually adding a no-remote class to force HandyworksApp.resourceDeleteHandler (AJAX) to ignore this link
        #{link_to "Cancel my subscription", subscription_path, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-mini no-remote'}.

-#------------------------------------------------------------------------------
-#------------------------------------------------------------------------------
#plan-options.modal{:style=>"display: none;"}
  = simple_form_for @subscription, :url => update_plan_subscription_path, :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{:data => {:dismiss=>"modal"}}
        &#215;
      %h3
        Change Plan
    .modal-body
      = f.association :subscription_plan, :include_blank => false
    .modal-footer
      = f.submit "Change Plan", :class => "btn button-go submit", :data => { :disable_with => "Changing Plan..." }
      %a.btn.button-cancel.cancel{:data => {:dismiss=>"modal"}, :href=>"#"}
        Close

-#------------------------------------------------------------------------------
- if flash[:alert] == 'Unable to update card.'
  %span.red-font
    = @subscription.webhooks.last.message

-#------------------------------------------------------------------------------
#card-data.modal{:style=>"display: none;"}
  = simple_form_for @subscription, :url => update_card_subscription_path, :html => {:method => :put, :class => 'form-horizontal card_form' } do |f|
    .modal-header
      %a.close{:data=>{:dismiss=>"modal"}}
        &#215;
      %h3
        = title
    .modal-body
      .field
        = label_tag :card_name, "Cardholder Name"
        = text_field_tag :card_name
      .field
        = label_tag :card_number, "Credit Card Number"
        = text_field_tag :card_number, nil, name: nil
      .field
        = label_tag :card_code, "Card Security Code (CVV)"
        = text_field_tag :card_code, nil, name: nil
      .field
        = label_tag :card_month, "Card Expiration"
        = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
        = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
      = f.hidden_field :stripe_token 

    .modal-footer
      = f.submit title, :class => "btn button-go submit", :data => { :disable_with => "Saving Card..." }
      %a.btn.button-cancel.cancel{:data=>{:dismiss=>"modal"}, :href=>"#"}
        Close

:javascript
  jQuery(function() {
    HandyworksApp.loadStripe();
  });
