.crud_buttons
  = link_to "#", :class => "panel_refresh icon48 refresh", :title => "Refresh" do
    &nbsp;

%table
  %tr
    %th
      Key
    %th
      Value
  %tr
    %td
      Plan Name
    %td
      = @subscription.subscription_plan_name
