#box_login
  .container
    .span12.box_wrapper
      .span12.box
        %div
          .head
            %h4
              = t('titles.log_in')
          .form
            %h5
              = t('titles.log_in2')
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              = f.input :email, :label => false, :placeholder => 'Username (Email Address)', :autofocus => true
              = f.input :password, :label => false, :placeholder => 'Password'
              -#= f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
              .remember
                .left
                  = f.check_box :remember_me
                  %label
                    Please Remember Me
                .right
                  = link_to "Forgot password?", new_user_password_path

              = f.button :submit, t('buttons.log_in'), :disable_with => t('buttons.disable_with_login'), :class => 'btn'
      %p.already
        Don't have an account?
        = link_to "Sign up.", new_user_registration_path
