- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'rooms_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @room
      = render 'shared/delete_button', :path => room_path(@room), :target => "room-#{@room.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, Room
      = link_to edit_room_path(@room), :class => "#{button}", :title => "Edit" do
        Edit
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = link_to rooms_path, :class=>  "#{button}", :title => "Rooms List" do
      Back



