= semantic_form_for @room, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Room Name and Location" do
        = f.input :name
        = f.input :account_id, :as => :hidden
        - if current_account.room_location_required?
          - clinic_list = current_account.clinics
          = f.input :clinics, :as => :check_boxes, :label => 'Room Location',  :collection => clinic_list
      - if params[:action] == 'edit'
        = f.inputs :name => "Room Order on Calendar" do
          = f.input :position, :label => "Display Order", :as => :select, :collection => Array(0..(current_account.rooms.count - 1)).collect {|x| [x+1,x]}, :include_blank => false
      - unless current_account.appointment_types.empty?
        = f.inputs :name => "Default Appointment Type" do
          = f.input :appointment_type, :as => :select, :collection => current_account.appointment_types, :include_blank => false, :label_method => :name, :label => ' '

    - if current_account.providers.size > 1
      %div#col2.span6
        = f.inputs :name => "Providers that can schedule this room: by Priority" do
          #provider_precedences_inputs
            = f.semantic_fields_for :provider_precedences do |p|
              = p.hidden_field :order, :class => "order_seq"
              = p.hidden_field :provider_id, :class => "provider_id"
          %select#providerSelections{ :multiple => 'multiple' }
            -# we're going to make two passes through the existing list of providers
            -#   the first pass will pick up any provider that has a valid assigned order
            -#   the 2nd pass will pick up any provider that has an undefined order, and they'll get pushed to the back.
            -#   OPTIMIZE: this should really be a single pass, with the pickList plugin doing to the sorting when it builds the list, but it doesn't appear to sort during the initial build.
            - @room.provider_precedences.each do |pp|
              - if pp.order
                %option{ :selected => "selected", :value => pp.provider.try(:id), :data => { :existing => pp.id, :order => pp.order } }
                  = "#{pp.provider.try(:signature_name)}"
            - @room.provider_precedences.each do |pp|
              - unless pp.order
                %option{ :selected => "selected", :value => pp.provider.try(:id), :data => { :existing => pp.id, :order => 9999 } }
                  = "#{pp.provider.try(:signature_name)}"
            -#
            -# now we go through the list of all providers for this account, who are currently associated with this room
            - current_account.providers.each do |provider|
              - unless @room.providers.include?(provider)
                %option{ :value => provider.try(:id), :data => { :order => 9999 } }
                  = provider.try(:signature_name)
          %br

:javascript
  jQuery(function() {
    HandyworksApp.roomFormProviderPickListSetup();
    HandyworksApp.roomFormValidation("#{@room.id}","#{@room.name}");
  });
