%table#rooms_list.indexTable.display{ :data => { :source => rooms_path, :resource => 'room', :container => 'user_data_content', :collection => 'Rooms' } }
  %thead
    %tr
      %th
        %div{:style => "width: 50px"}
          - if can? :create, Room
            = link_to new_room_path, :class => "icon24 new", :title => "New Room" do
              &nbsp;
          = link_to_help 'rooms_index_help', :class => 'icon24 help', :title => "What's this?"  
      %th 
      %th 
      %th
      %th



  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false);
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Rooms list
    //#---------------------------------------------------------------------------
    oTable = HandyworksApp.indexTable(jQuery('#rooms_list'),
      #{@datatable.html_as_json.to_json});
  });
