-# handles both success and error cases for destroying legacy_id_label
- if @legacy_id_label.errors.any?
  HandyworksApp.showError("Sorry. I can't delete this Legacy ID.",".flash");
- else
  HandyworksApp.showSuccess("The Legacy ID has been removed.",".flash");
  // removes the hidden id for this record which Rails puts outside of the row record from fields_for
  $('#legacy_id_label_#{@legacy_id_label.id}').next('input').remove();
  $('#legacy_id_label_#{@legacy_id_label.id}').remove();
