- button = button_class
.form-buttons
  - unless f.nil?
    = render 'shared/form_buttons_v2', :f => f, :resource_help => 'references_fb_help', :button => button
  - if params[:action] == "edit"
    - if can? :destroy, @reference
      = render 'shared/delete_button', :path => reference_path(@reference), :target => "reference-#{@reference.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, @reference
      = link_to edit_reference_path(@reference), :class => "#{button}", :title => "Edit" do
        Edit

