= semantic_form_for @reference, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  %div.row#top
    %div#col1.span6
      = f.inputs :name => "Contact Information" do 
        = f.semantic_fields_for :contact do |contact|
          = contact.input :company_name, :required => true, :label => "Your Code"
          = contact.input :first_name, :required => false
          = contact.input :last_name, :required => false
          = f.input :npi, :label => "NPI - HCFA Box 17b" 
          = contact.semantic_fields_for :physical_address do |pa|
            = render 'shared/address_fields', :f => pa
          = contact.semantic_fields_for :business_email do |be|
            = be.input :email, :required => false
          = contact.semantic_fields_for :business_phone do |bp|
            = render 'shared/phone_fields_v1', :f => bp, :is_required => false
        = f.input :account_id, :as => :hidden

    %div#col2.span6
      = f.inputs :name => "Notes" do 
        = f.input :comment, :label => 'Use this area to record additional information about this referral source.'

:javascript
  jQuery(function() {
    HandyworksApp.referenceFormValidation("#{@reference.id}","#{@reference.contact.company_name}");
  });
