%table#references_list.indexTable.display{ :data => { :source => references_path, :resource => 'reference', :container => 'user_data_content'} }
  %thead
    %tr
      %th 
        %div{:style => "width: 50px"}
          - if can? :create, Reference
            = link_to new_reference_path, :class => "icon24 new", :title => "New Reference" do
              &nbsp;
          = link_to_help 'references_index_help', :class => 'icon24 help', :title => "What's this?"
      %th
      %th
      %th

  %tbody

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup(["a.new"], window.document, false)
    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to list
    //#---------------------------------------------------------------------------
    HandyworksApp.indexTable(jQuery('#references_list'),
      #{@datatable.html_as_json.to_json});
  });
