- unless f.nil?
  = render 'shared/form_buttons', :f => f
.crud_buttons
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = render 'shared/switcher', :resource => @fee_schedule unless @fee_schedule.new_record?
    = link_to fee_schedules_path, :class => "icon48 back", :title => "List Fee Schedules" do
      &nbsp;
  - if params[:action] == "edit"
    - if can? :destroy, @fee_schedule
      = render 'shared/delete_button', :path => fee_schedule_path(@fee_schedule), :target => "fee_schedule-#{@fee_schedule.id}", :button => button
  - if params[:action] == "show"
    - if can? :update, FeeSchedule
      = link_to edit_fee_schedule_path(@fee_schedule), :class => "icon48 edit", :title => "Edit" do
        &nbsp;

