= semantic_form_for @fee_schedule, :remote => request.xhr? do |f|
  = render 'buttons', :f => f
  = f.inputs :name => "Fee Schedule Info" do 
    = f.input :account_id, :as => :hidden
    = f.input :label, :label => 'Fee Schedule Label'
:javascript
  jQuery(function() {
    HandyworksApp.feeScheduleFormValidation();
  });
