-# handles both success and error cases for destroying fee_schedule
- if @fee_schedule.errors.any?
  HandyworksApp.showError("Unable to delete the fee schedule.",".flash");
- else
  HandyworksApp.showSuccess("Fee schedule has been removed.",".flash");
  // removes the hidden fee id for this record which Rails puts outside of the row record from fields_for
  $('#fee_schedule_#{@fee_schedule.id}').next('input').remove();
  $('#fee_schedule_#{@fee_schedule.id}').remove();
