.crud_buttons
  - if can? :create, FeeSchedule
    = link_to new_fee_schedule_path, :class => "icon48 new" , :title => "New Fee Schedule" do
      &nbsp;

%h3 Fee Schedules

%table#fee_schedules_list.indexTable.display
  %thead
    %tr
      %th &nbsp;
      %th Label
  %tbody
    - @fee_schedules.each do |fee_schedule|
      %tr.fee_schedule_record
        %td
          - if can? :update, fee_schedule
            = link_to edit_fee_schedule_path(fee_schedule), :class => "icon24 fee_schedule-edit option_link", :title => 'Edit' do
              %nbsp;
          - elsif can? :show, fee_schedule
            = link_to fee_schedule_path(fee_schedule), :class => "icon24 fee_schedule-show option_link", :title => 'Show' do
              &nbsp;
          - if can? :destroy, fee_schedule
            = link_to fee_schedule_path(fee_schedule), :confirm => t('delete_confirmation'), :method => :delete, :class => "icon24 fee_schedule-delete option_link", :title => t('tips.destroy') do
              &nbsp;
        %td
          = fee_schedule.label

:javascript
  jQuery(function() {
    //#---------------------------------------------------------------------------
    //# apply the lightbox popup style to editing
    //#---------------------------------------------------------------------------
    HandyworksApp.editPopup([".fee_schedule-edit.option_link",".fee_schedule-show.option_link"]);

    //#---------------------------------------------------------------------------
    //# Apply jQuery dataTables to Fee schedules list
    //#---------------------------------------------------------------------------
    var oTable = HandyworksApp.indexTable(jQuery('#fee_schedules_list'));
    
  });
