//
// switched from the manifest style application.css to a pure 
// Sass based implementation as recommended here:
//    http://railscasts.com/episodes/334-compass-css-sprites
//
@import "base";

@import "jquery.ui.all";
//@import "jquery.ui.core";
//@import "jquery.ui.theme";
@import "fancybox";

//@import "dataTables/jquery.dataTables";
@import "dataTables/src/demo_table_jui";
//@import "dataTables/extras/ColVis"; // missing from dataTables-rails gem.

@import "forms";
@import "buttons";
@import "index";

body.hw.admin {
  // navbar styles
  header.navbar { 
    .dropdown {
      // highlight the session menu when there are special notices.
      .dropdown-toggle.session-menu.active {
        background-color: yellow;
        padding: 4px;
        margin-top: 6px;
      }
    }
    .dropdown-menu {
      li.special-notice {
        text-align: center;
      }
    }
  }
}

