//
// switched from the manifest style application.css to a pure 
// Sass based implementation as recommended here:
//    http://railscasts.com/episodes/334-compass-css-sprites
//
@import "base";

@import "measure/theme";
@import "measure/external-pages";
@import "measure/animate";
@import "measure/blog";
@import "measure/signin";
@import "measure/signup";
@import "measure/reset";
@import "measure/theme-changes";

// confirmation form
body.hw {
  &.confirmations.show {
    form {
      label.control-label {
        line-height: 14px;

      }
      .controls {
        margin-left: 50px;
      }
    }
  }
}
