//
// switched from the manifest style application.css to a pure 
// Sass based implementation as recommended here:
//    http://railscasts.com/episodes/334-compass-css-sprites
//
@import "base";

@import "jquery.ui.all";
//@import "jquery.ui.core";
//@import "jquery.ui.theme";
@import "farbtastic";
@import "fancybox";

//@import "dataTables/jquery.dataTables";
@import "dataTables/src/demo_table_jui";
//@import "dataTables/extras/ColVis"; // missing from dataTables-rails gem.

@import "jquery-layout-default";
@import "layout.changes";

@import "jquery.weekcalendar";
@import "jquery.weekcalendar.changes";

@import "jquery-picklist";

@import "compass/css3/opacity";

@import "forms";
@import "buttons";
@import "index";

body.hw.authorized {
  // global font setting.
  font-size: 12px;

  //----------------------------------------------------------------------------
  // General Settings
  //----------------------------------------------------------------------------
  h2, h3 {
    font-family:'Terminal Dosis', Arial, sans-serif;
    color: blue;
  }

  // don't decorate links if they're marked as disabled
  a.disabled {
    text-decoration: none;
    &:hover {
      color: #999;
    }
  }

  a.option_link {
    text-decoration: none;
  }

  //----------------------------------------------------------------------------
  // navbar styles
  //----------------------------------------------------------------------------
  header.navbar { 
    .dropdown {
      // highlight the session menu when there are special notices.
      .dropdown-toggle.session-menu.active {
        background-color: yellow;
        padding: 4px;
        margin-top: 6px;
      }
    }
    .dropdown-menu {
      li.special-notice {
        text-align: center;
      }
    }
    a.patient-search-icon {
      i.icon-search {
        padding-left: 4px;
      }
    }
  }

  //----------------------------------------------------------------------------
  // Index Views
  //----------------------------------------------------------------------------
  table.indexTable {
    tbody {
      tr.editing_active {
        @include opacity(0.75);
      }
      tr.update_pending {
        @include opacity(0.25);
        & td.row_data {
          background-color: white;
          background-image: image-url('ui-anim_basic_16x16.gif');
          background-position: right center;
          background-repeat: no-repeat;
        }
      }
      //// puts additional space between the delete buttons and the
      //// text to the right of it.
      //td a[data-method=delete] {
      //  margin-right: 10px;
      //}
    }
  }
  //div.icsizer {
  //  width: 20%; 
  //  float: left;
  //  #line_height_label  {
  //    width: 6em;
  //    float: left;
  //  }
  //  #line_height_slider {
  //    width: 40%;
  //    margin-left: 6em;
  //  }
  //}

  .dataTables_wrapper {
     select,input {
       display: inline;
       width: auto;
       height: auto;
       line-height: auto;
     }
     //
     // the next couple rule blocks are configuring controls on the 
     // dataTables wrapper: number per page, and the pagination
     // controls to take up less space and fit together better
     //
     .dataTables_length {
       width: auto;
       text-align: right;
       float: right;
       padding-left: 10px;
       label {
         margin-top: 0;
         margin-bottom: 0;
         select {
           padding-top: 0;
           padding-bottom: 0;
           margin-top: 0;
           margin-bottom: 0;
         }
       }
     }
     //.dataTables_paginate {
     //  float: right;
     //  text-align: left;
     //  padding-left: 10px;
     //}
     .dataTables_filter {
       float: left;
       width: auto;
       label {
         margin-top: 0;
         margin-bottom: 0;
         input {
           //width: 100px;
           padding-top: 0;
           padding-bottom: 0;
           margin-top: 0;
           margin-bottom: 0;
         }
       }
     }
     .dataTables_info {
       width: 38%;
       padding-left: 10px;
     }
  }

  //------------------------------------------------------------------------------
  // Import Screens
  //------------------------------------------------------------------------------
  #import_status_area {
    margin-right: 10%;
    position: relative;
    float: right;
    color: green;
    font-size: 2em;
    .status-message {
    }
  }
  div.inline-status {
    height: 0px;
    position: relative;
    top: -20px;
    left: -10%;
    float: right;
    color: green;
    font-size: 1.4em;
  }

  // fixes a problem with hidden content in
  // fancybox popup windows.
  #fancybox-content {
    overflow: auto;
  }

  //------------------------------------------------------------------------------
  // Resource Switcher Area
  //------------------------------------------------------------------------------
  .data_switcher {
    display: inline-block;
  }

  //------------------------------------------------------------------------------
  // Service Types (Provider / Account) views.
  //------------------------------------------------------------------------------
  .column_header_level_2 {
    text-align: center;
    border-bottom: 1px solid black;
  }
  .data_group_label {
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 1.2em;
    padding-left: 20px;
  }
  hr.data_group_separator {
    border-top-style: inset;
    border-top-width: 1px;
  }

  //------------------------------------------------------------------------------
  // Color Picker
  //  - initialize the color picker as hidden so it can be revealed only on 
  //    click of the color wheel icon.
  //------------------------------------------------------------------------------
  #color_picker {
    display: none;
  }

  //------------------------------------------------------------------------------
  // Help dialogs
  //------------------------------------------------------------------------------
  a.field_help {
    text-decoration:none;
  }

  .legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 4px;
  }


  //------------------------------------------------------------------------------
  // Scheduling Screens
  //------------------------------------------------------------------------------

  #schedule_area {
    // container min width required to keep FB popup from shrinking down to min-width of ~450px;
    min-width: 800px;
  }

  #schedule_exceptions {
    margin: 20px;
  }

  .clinic_checkbox_label {
    width: 150px;
    display: block;
    float: left;
  }

  .provider_color_legend {
      display: block;
      width: 16px;
      height: 16px;
      float: right;
  }

  .appointment_workflow_step {
    height: 80%;
  }

  #appointment_workflow_contact_notes {
    padding-left: 20px;
    text-align: left;
  }

  .ui-autocomplete-loading { background: white image-url('ui-anim_basic_16x16.gif') right center no-repeat; }

  #appointment_workflow_busy {
    background: white image-url('ui-anim_basic_16x16.gif') right center no-repeat;
    height: 16px;
    width: 16px;
    float: left;
  }

  .session_resource_selector {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
  }

  #schedule_rates {
    margin: 20px;
    .ui-slider {
      width: 75%;
    }
  }

  //------------------------------------------------------------------------------
  // Fix conflict btw data_table and bootstrap for classes .top and .bottom
  //------------------------------------------------------------------------------
  .tooltip.top, .tooltip.bottom {
    background-color: rgba(0,0,0,0);
    border-width: 0px;
  }

}

