//==============================================================================
//  This file contains the base styles that will be applied to all 3 templates.
//
// switched from the manifest style application.css to a pure 
// Sass based implementation as recommended here:
//    http://railscasts.com/episodes/334-compass-css-sprites
//
//==============================================================================
@import "compass";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import "font-awesome";
@import "bootstrap.changes";

@import "formtastic-bootstrap";
@import "gritter";
@import "icons";
@import "fonts";
@import "mixins";

//------------------------------------------------------------------------------
// Dimension constants
//------------------------------------------------------------------------------
$default-padding: 15px !default;

//------------------------------------------------------------------------------
// Define Colors
//  TODO : move all CSS defined colors into theme specific _base.scss
//------------------------------------------------------------------------------
$background-color: #f4f4f2 !default;

body.hw {
  //background: white image-url("measure/content_bg.jpg") repeat left top;
  -webkit-font-smoothing: antialiased;
  // the line below sets the visibility of the entire screen to hidden to 
  // prevent FOUC (flash of unstyled content), the visility is subsequently
  // set to visible by jQuery within the app/view/layouts/base.html.haml
  visibility: hidden;
  color:#666;
  font-family: 'Helvitica Neueu', Helvitica, Arial, sans-serif;
  // fix display issues with font-awesome "iconic" fonts require a specific
  // font-size to be set on their elements in order to look good. We'll only 
  // apply this if the icon-14 class is assigned to the element. NOTE: there
  // may be other sizes which also display properly, a little more research would
  // be necessary to determine.
  i {
    &.icon-14 {
      font-size: 14px !important;
    }
  }
  .hidden {
    display: none !important;
  }
  header.navbar {
    a.brand {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    h1.logo-text {
      display: inline;
      font-family: 'Indie Flower', Arial, sans-serif !important;
      font-size: 40px;
      margin: 0px 12px 0px 0px;
      outline:none;
      text-decoration:none;
      font-weight:700;
      letter-spacing:-.5px;
      color:#FFF;
      word-spacing:4px;
      // use a smaller font and inverse color on the internal pages.
      &.inverse {
        font-size: 27px;
        color: black;
      }
    }
    .navbar-text {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    #patient-search {
      a {
        color: blue;
        &:hover {
          text-decoration: 'underline';
        }
        &.disabled {
          color: #999;
        }
      }
    }
  }

  #gritter-notice-wrapper {
    .notification .gritter-item {
      background-color: #efefef;
      color: green;
    }

    .success .gritter-item {
      background-color: #acfa58;
      color: black;
    }

    .fail .gritter-item {
      background-color: #fe2e2e;
      color: white;
    }

    .alert {
      border: none; // override bootstrap alert style border
      .gritter-item {
        background-color: #fcf8e3;
        color: #c09853;
      }
    }

  }

  // simple_form, formtastic / formtastic-bootstrap adjustments
  form.formtastic, form.simple_form {
    text-align: center;
    legend {
      & + .control-group {
        margin-top: 0px;  // don't add extra space before the first field.
        //
        // the extra space causes alignment problems if you've got hidden fields 
        // in some places and not in others.
        // OPTIMIZE : this seems like a bug in the formtastic-bootstrap style, pull request?
        //
      }
    }

    //------------------------------------------------------------------------------
    // Tighten up the form display for most of the forms in the main application
    //  -- the bootstrap default setting was 10px bottom margin on control-groups
    //------------------------------------------------------------------------------
    .control-group {
      margin-bottom: 0px;
    }

    .controls {
      @include inline-block;
      label {
        display: block;
        margin-left: 0px;
      }
    }

    label.error {
      color: #cc0000;
    }

    .city_state_zip, .salute_first_middle {
      input,select {
        width: auto;
        &:first-child {
          margin-left: -3px;
        }
      }
    }
  }

  // in order to prevent the flash of screen content when initially 
  // adjusting the size of the popup windows, we'll hide the content
  // initially and display it from the HandyworksApp.Popup.afterShow()
  // callback method.
  .fancybox-wrap {
    display: none;
  }

  // fix for alignment of links and buttons when links are displayed as 
  // buttons in a line of buttons (and input elements too).
  a.btn, input.btn {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  header.navbar {
    a.brand {
      h1.logo-text {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  header.navbar {
    a.brand {
      img {
        display: none;
      }
    }
  }
}


