
body.hw {
  //------------------------------------------------------------------------------
  // Button Styles
  //------------------------------------------------------------------------------
  .btn {
    text-transform: uppercase;
    font-weight: bold;
    //padding: 2px 5px 2px;
    padding: 2px 5px;
    border: 2px solid black;

    &.button-go {
      color: green !important; 
    }
    &.button-info {
      color: blue !important;
    }
    &.button-cancel {
      color: black !important;
    }
    &.button-alt {
      color: orange !important;
    }
    &.button-destroy {
      color: red !important;
    }
  }

  //------------------------------------------------------------------------------
  // Fix conflic btw bootstrap and jquery-ui for link text colors
  //------------------------------------------------------------------------------
  button.btn {
    margin-bottom: 5px;
  }
}
