//------------------------------------------------------------------------------
// these are values which can be configured independently for each theme.
// these set the forms variables of label width, the gradient, text color, label color, etc.
//------------------------------------------------------------------------------
$formtastic-label-width: 150px !default;
$formtastic-base-width: 100% !default;
$formtastic-text-color: #333 !default;
$formtastic-label-color: #333 !default;
$formtastic-border: 1px solid #C9DCA5 !default;
$formtastic-fieldset-background: linear-gradient(left bottom, #CCFFFF, #CCFFFF) !default;
$formtastic-input-separator: none !default;
$formtastic-button-text-color: #122b03;
$formtastic-button-text-size: 1.3em;
$formtastic-list-height: 300px;
$formtastic-list-field-width: 80px;

@import "compass/css3/inline-block";

body.hw {
  //------------------------------------------------------------------------------
  // Forms
  //------------------------------------------------------------------------------
  form.formtastic, div.formtastic, form.well {
    width: $formtastic-base-width;
    font-size: 1.0em;
    color: $formtastic-text-color;

    .form-buttons {
      text-align: left;
    }

    abbr {
      font-weight: bold;
      font-style: normal;
      color: #f00;
    }

    label {
      width: $formtastic-label-width;
      color: $formtastic-label-color;
      @include inline-block;
      line-height: 1.0;

      // use long labels to keep text on one line for things like the fields on
      // appointment_type form.
      &.long-label {
        width: 325px;
      }
    }

    fieldset {
      clear: both;
      text-align: left;

      &.inputs {
        border: none;
        @include background-image($formtastic-fieldset-background);
      }

      &>legend {
        padding-left: 0;
        color: $formtastic-label-color;
        font-size: 1.2em;
        padding: 0 2px;
        margin: 2px 2px 2px 10px;
        width: 94%;
        font-weight: bold;
        _margin: 0 -7px; /* IE Win */
        border-bottom: none;
        text-decoration:underline;
      }

      .control-group {

        // hide legend or label inside of a no-label marked input field
        &.no-label {
          label {
            display: none;
          }
        }

        //------------------------------------------------------------------------
        // inline hints and error messages
        //------------------------------------------------------------------------
        p.inline-hints {
          color: #666;
          margin-left: $formtastic-label-width;
        }
        p.inline-errors {
          color: #cc0000;
          margin: 0.5em 0 0 $formtastic-label-width;
        }

      }

      // lists in provider and procedure codes forms.
      div.form_list {
        width: 100%;
        max-height: $formtastic-list-height;
        overflow-y: auto;
        table {
          tr {
            height: 1.1em;
            max-height: 1.5em;
            input[type=text] {
              width: $formtastic-list-field-width;
            }
          }
          tr.arow td:nth-child(1) {
            white-space: nowrap;
          }
        }
      }

      // nested fieldset.
      fieldset {
        background: none;
        legend {
            width: $formtastic-label-width;
          label {
            color: $formtastic-label-color;
            //margin-left: $formtastic-label-width + 3; /* Width plus 3 (html space) */
          }
        }
      }
    }
  }

  /*\*//*/ form.formtastic legend { display: inline-block; } /* IE Mac legend fix */

  //==============================================================================
  //==============================================================================
  // specific forms which need to be customized here
  //==============================================================================
  //==============================================================================

  //------------------------------------------------------------------------------
  // HCFA Forms
  //   - 22 columns / row
  //   1. make the select widgets narrower
  //------------------------------------------------------------------------------
  form.formtastic.hcfa_form_option, form.formtastic.account_hcfa_form_option, form.formtastic.carrier_hcfa_form_option {

    width: 98%;

    h4 {
      color: black;
      font-size: +1.5em;
      text-align: center;
    }
    select {
      font-size: 10px;
    }
    label {
      font-size: 10px;
    }

    .row-fluid.first_row {
      clear: both;
    }

    .hcfa_group {
      background-color: LightGray;
    }
  }

  //------------------------------------------------------------------------------
  // procedure code styles
  //   also provider legacy id table, and phones table.
  //------------------------------------------------------------------------------
  form.formtastic {
    fieldset.inputs {
      .control-group {
        input.proc_code_modifier {
          width: 50px;
        }
        label.proc_code_label,label.provider_legacy_id_labels,label.cc_label {
            padding-top: 0.2em;
            width: $formtastic-label-width;
        }
      }

      table#phone_list {
        tr {
          th {
            width: 40%;
            &.flag {
              width: 20%;
            }
          }
          td {
            input,select {
              width: 122px;
              &[type='hidden'] {
                width: 0px;
              }
              &[type='checkbox'] {
                width: 50px;
              }
            }
          }
        }
      }

    }
  }

  //------------------------------------------------------------------------------
  // Carrier Legacy Labels
  //------------------------------------------------------------------------------
  form.formtastic.third_party fieldset.inputs ol li div.combo_fields_here {
    @include inline-block;
    select,input {
      @include inline-block;
    }
    a {
      @include inline-block;
      float:none;
    }
  }

  //------------------------------------------------------------------------------
  // Appointment Types Form
  //------------------------------------------------------------------------------
  form.formtastic fieldset.inputs ol li div.form_list table#appointment_types_list {
    margin-left: 0;
    th.vertical {
      @include vertical_text;
    }
    .number input {
      width: auto;
    }
    .boolean {
      label {
        width: $formtastic-list-field-width / 3;
      }
      input[type=checkbox] {
        width: $formtastic-list-field-width / 3;
      }
    }
  }
  //------------------------------------------------------------------------------
  // check box fields on the same line as labels following the checkbox
  //   - currently only applying this to one form I've noticed needs the fix
  //     however it seems likely to be needed on a larger scope
  //------------------------------------------------------------------------------
  form.formtastic#calendar_view_form {
    label input[type=checkbox] {
      display: inline;
      margin-right: 5px;
    }
  }
  //------------------------------------------------------------------------------
  // address conflict for legends with bootstrap label components
  //------------------------------------------------------------------------------
  form.formtastic legend.label {
    white-space: inherit;
    background-color: inherit;
    text-shadow: none;
  }
  //------------------------------------------------------------------------------
  // check boxes push them over to the left so they can fit more on each line
  // change the display mode for the input element to put check box and label on
  // the same line
  //------------------------------------------------------------------------------
  form.formtastic .control-group.check_boxes {
    legend label {
      margin-bottom: 20px;
    }
    & {
      margin-left: inherit;
    }
    .controls {
      label.checkbox {
        display: inline-block;
      }
      input[type="checkbox"] {
        display: inline-block;
      }
    }
  }

}

//------------------------------------------------------------------------------
// Firefox CSS Hacks
//   These will apply to all versions of Firefox. 
//------------------------------------------------------------------------------
//@-moz-document url-prefix() {
//  a.btn.btn-large {
//     padding: 9px 14px 10px 14px;
//  }
//}
