@import "compass/utilities/sprites";

//==============================================================================
// Generate Icon Sprites
//  NOTE: the empty comments after each line are simply to fix a problem with the VIM scss syntax highligting
//==============================================================================
@import "icon12/*.png"; /**/
@import "icon16/*.png"; /**/
@import "icon20/*.png"; /**/
@import "icon24/*.png"; /**/
@import "icon32/*.png"; /**/
@import "icon30/*.png"; /**/
@import "icon48/*.png"; /**/
@import "layout/*.png"; /**/

//------------------------------------------------------------------------------
// Setup the basic icon names for different Restful operations
//------------------------------------------------------------------------------
$resource-icon-new: 'add' !default;
$resource-icon-edit: 'yellow_pen' !default;
$resource-icon-show: 'yellow_pen_lock' !default;
$resource-icon-delete: 'delete' !default;
$resource-icon-schedule: 'clock' !default;
$resource-icon-permissions: 'lock' !default;

//==============================================================================
// Custom Mixins
//   setup extensions / reusabile bits of CSS logic
//==============================================================================

@mixin icon_base($size: "32px") {
  display: block;
  width: $size;
  height: $size;
  float: left;
  padding: 0px !important;
  border: 0px solid red;
  text-decoration: none;
  a {
    text-decoration: none;
  }
}

//------------------------------------------------------------------------------
// defines an image and a image:hover style for this icon
// this will be obnoxious
//------------------------------------------------------------------------------
@mixin icon_instance($resource_name, $icon_name) {
  .icon16.#{$resource_name} {
    @include icon16-sprite(#{$icon_name}_16);
    &:hover { @include icon16-sprite(#{$icon_name}_16_hot); }
  }
  .icon24.#{$resource_name} {
    @include icon24-sprite(#{$icon_name}_24);
    &:hover { @include icon24-sprite(#{$icon_name}_24_hot); }
  }
  .icon32.#{$resource_name} {
    @include icon32-sprite(#{$icon_name}_32);
    &:hover { @include icon32-sprite(#{$icon_name}_32_hot); }
  }
}

@mixin resource_icon($resource_name) {
  @include icon_instance(#{$resource_name}-new, $resource-icon-new);
  @include icon_instance(#{$resource_name}-edit, $resource-icon-edit);
  @include icon_instance(#{$resource_name}-show, $resource-icon-show);
  @include icon_instance(#{$resource_name}-delete, $resource-icon-delete);
  @include icon_instance(#{$resource_name}-schedule, $resource-icon-schedule);
  @include icon_instance(#{$resource_name}-permissions, $resource-icon-permissions);
}


.resource_selected { background-color: green; @include icon16-sprite(star_16); }
.resource_unselected { 
  @include icon16-sprite(star_16_dis);
  &:hover {
    @include icon16-sprite(star_16_hot);
  }
}

.icon48.help { @include icon48-sprite(help_48); &:hover { @include icon48-sprite(help_48_hot); } }
.icon48.new { @include icon48-sprite(add_48); &:hover { @include icon48-sprite(add_48_hot); } }
.icon48.edit { @include icon48-sprite(pen_48); &:hover { @include icon48-sprite(pen_48_hot); } }
.icon48.back { @include icon48-sprite(back_48); &:hover { @include icon48-sprite(back_48_hot); } }
.icon48.delete { @include icon48-sprite(delete_48); &:hover { @include icon48-sprite(delete_48_hot); } }
.icon48.permission { @include icon48-sprite(lock_48); &:hover { @include icon48-sprite(lock_48_hot); } }
.icon48.client_hcfa_add { @include icon48-sprite(attach_add_48); &:hover { @include icon48-sprite(attach_add_48_hot); } }
.icon48.client_hcfa_edit { @include icon48-sprite(attach_write_48); &:hover { @include icon48-sprite(attach_write_48_hot); } }
.icon48.object_group { @include icon48-sprite(windows_lock_48); &:hover { @include icon48-sprite(windows_lock_48_hot); } }
.icon48.refresh { @include icon48-sprite(refresh_48); &:hover { @include icon48-sprite(refresh_48_hot); } }
.icon48.schedule_option { @include icon48-sprite(clock_48); &:hover { @include icon48-sprite(clock_48_hot); } }

.icon32.add { @include icon32-sprite(add_32); }
.icon32.asterisk { @include icon32-sprite(star_32); }
.icon32.help { @include icon32-sprite(help_32); }
.icon24.permission { @include icon24-sprite(lock_24); &:hover { @include icon24-sprite(lock_24_hot); } }
.icon24.new { @include icon24-sprite(add_24); &:hover { @include icon24-sprite(add_24_hot); } }
.icon24.help { @include icon24-sprite(help_24); &:hover { @include icon24-sprite(help_24_hot); } }
.icon32.info { @include icon32-sprite(info_32); }
.icon32.pen { @include icon32-sprite(yellow_pen_32); }
.icon32.stop { @include icon32-sprite(close_32); }
.icon32.stop-alt { @include icon32-sprite(delete_32); }

.icon32.client_hcfa_show { @include icon32-sprite(attach_32); &:hover { @include icon32-sprite(attach_32_hot); } }
.icon32.client_hcfa_add { @include icon32-sprite(attach_add_32); &:hover { @include icon32-sprite(attach_add_32_hot); } }
.icon32.client_hcfa_edit { @include icon32-sprite(attach_write_32); &:hover { @include icon32-sprite(attach_write_32_hot); } }
.icon24.client_hcfa_show { @include icon24-sprite(attach_24); &:hover { @include icon24-sprite(attach_24_hot); } }
.icon24.client_hcfa_add { @include icon24-sprite(attach_add_24); &:hover { @include icon24-sprite(attach_add_24_hot); } }
.icon24.client_hcfa_edit { @include icon24-sprite(attach_write_24); &:hover { @include icon24-sprite(attach_write_24_hot); } }
.icon16.client_hcfa_show { @include icon16-sprite(attach_16); &:hover { @include icon16-sprite(attach_16_hot); } }
.icon16.client_hcfa_add { @include icon16-sprite(attach_add_16); &:hover { @include icon16-sprite(attach_add_16_hot); } }
.icon16.client_hcfa_edit { @include icon16-sprite(attach_write_16); &:hover { @include icon16-sprite(attach_write_16_hot); } }

// icon for the provider hours link on the provider index view.
.icon24.provider-alt { @include icon24-sprite(clock_24); &:hover { @include icon24-sprite(clock_24_hot); } }

.icon32.icon { @include icon32-sprite(sphere_32); &:hover { @include icon32-sprite(sphere_32_hot); } }
.icon24.icon { @include icon24-sprite(sphere_24); &:hover { @include icon24-sprite(sphere_24_hot); } }
.icon24.home { @include icon24-sprite(home_24); &:hover { @include icon24-sprite(home_24_hot); } }
.icon16.icon { @include icon16-sprite(sphere_16); &:hover { @include icon16-sprite(sphere_16_hot); } }
.icon12.icon { @include icon12-sprite(sphere_12); &:hover { @include icon12-sprite(sphere_12_hot); } }
.icon20.icon { @include icon20-sprite(sphere_20); &:hover { @include icon20-sprite(sphere_20_hot); } }
.icon32.ok { @include icon32-sprite(ok_32); }
.icon24.ok { @include icon24-sprite(ok_24); }

.icon16.add { @include icon16-sprite(add_16); }
.icon16.asterisk { @include icon16-sprite(star_16); }
.icon16.info { @include icon16-sprite(info_16); }
.icon16.pen { @include icon16-sprite(pen_16); }
.icon16.stop { @include icon16-sprite(close_16); }
.icon16.stop-alt { @include icon16-sprite(delete_16); }
body.hw .icon16.help {
  @include icon16-sprite(help_16);
  display: inline;
  float: none;
  padding-left: 16px !important;
}
body.hw .icon16.color_picker {
  @include icon16-sprite(color_picker_16);
  display: inline;
  float: none;
  padding-left: 16px !important;
}

body.hw {

   // define the different icon sprite classes we need
  .icon12 { @include icon_base(12px); }
  .icon16 { @include icon_base(16px); }
  .icon20 { @include icon_base(20px); }
  .icon24 { @include icon_base(24px); }
  .icon30 { @include icon_base(30px); }
  .icon32 { @include icon_base(32px); }
  .icon48 { @include icon_base(48px); }

  @include resource_icon('event');
  @include resource_icon('provider');
  @include resource_icon('room');
  @include resource_icon('clinic');
  @include resource_icon('user');
  @include resource_icon('hcfa_form');
  @include resource_icon('third_party');
  @include resource_icon('procedure_code');
  @include resource_icon('diagnosis_code');
  @include resource_icon('message');
  @include resource_icon('patient');
  @include resource_icon('import');
  @include resource_icon('import_group');
  @include resource_icon('reference');
  @include resource_icon('fee_schedule');
  @include resource_icon('appointment_type');
  @include resource_icon('question');
  @include resource_icon('help');
}
.color_picker { @include icon32-sprite(color_picker_32); }
// change ss  

//.icsizer {
//  span {
//    display: block;
//    float: left;
//  }
//}

// allows the .icsizer (Icon Sizer) div to fit on the footer of the dataTables
// index display
//body .dataTables_info { 
  //width: 25%;
//}
