//==============================================================================
// This file contains the common theme customizable mixins for styling 
// data tables
//==============================================================================

//------------------------------------------------------------------------------
// Configurable Variables
//   these variables can be overridden within individual themes.
//------------------------------------------------------------------------------
$index-table-row-odd-color: #ddffdd !default;
$index-table-row-even-color: #eeffee !default;
$index-table-row-odd-selected-color: #9fafd1 !default;
$index-table-row-even-selected-color: #b0bed9 !default;
// derived colors
$index-table-row-odd-sort1-color: $index-table-row-odd-color - #190019 !default;
$index-table-row-odd-sort2-color: $index-table-row-odd-color - #0c000c !default;
$index-table-row-odd-sort3-color: $index-table-row-odd-color - #0c000c !default;
$index-table-row-odd-hover-color: #fdf39d !default; //$index-table-row-odd-selected-color + #141609 !default;
$index-table-row-even-sort1-color: $index-table-row-even-color - #190019 !default;
$index-table-row-even-sort2-color: $index-table-row-even-color - #0c000c !default;
$index-table-row-even-sort3-color: $index-table-row-even-color - #0c000c !default;
$index-table-row-even-hover-color: #fdf39d !default; //$index-table-row-even-selected-color + #141609 !default;

@mixin handyworks_data_table_sorting($s1_color,$s2_color : #ffffff,$s3_color: #ffffff) {
  // allow for fewer color arguments
  $s2_color: $s1_color !default;
  $s3_color: $s2_color !default;
  &.sorting_1 { background-color: $s1_color; }
  &.sorting_2 { background-color: $s2_color; }
  &.sorting_3 { background-color: $s3_color; }
}

@mixin handyworks_data_table {
  /* TODO : if the handyworks_data_table CSS mixin (a) took base color as an argument and (b) used Sass color math to deriveadditional colors, it would be much more flexible */
  table.indexTable {
    tr.odd {
      background-color: $index-table-row-odd-color;
      td { @include handyworks_data_table_sorting($index-table-row-odd-sort1-color,$index-table-row-odd-sort2-color,$index-table-row-odd-sort3-color); }
      &.row_selected td.row_data { //row_data class is to make this higher priority than :hover
        background-color: $index-table-row-odd-selected-color;
        @include handyworks_data_table_sorting($index-table-row-odd-selected-color); 
      }
      &:hover {
        background-color: $index-table-row-odd-hover-color;
        td { @include handyworks_data_table_sorting($index-table-row-odd-hover-color); }
      }
    }
    tr.even {
      background-color: $index-table-row-even-color;
      td { @include handyworks_data_table_sorting($index-table-row-even-sort1-color,$index-table-row-even-sort2-color,$index-table-row-even-sort3-color); }
      &.row_selected td.row_data { //row_data class is to make this higher priority than :hover
        background-color: $index-table-row-even-selected-color;
        @include handyworks_data_table_sorting($index-table-row-even-selected-color); 
      }
      &:hover {
        background-color: $index-table-row-even-hover-color;
        td { @include handyworks_data_table_sorting($index-table-row-even-hover-color); }
      }
    }
  }
}
