/*
  Handyworks Changes to the default layout plugin styles
*/
/*
*	SIMPLE TOGGLER BUTTONS
*/
body.hw {

  // top-level / center pane dimension seems to be required to actually display anything.
  // its possible this is due to the dynamic nature of the contents ... they're not displayed yet, have no size
  // and thus screw up the calculation of the UI Layout plugin for dimensions of its content wrappers
  //   NOTE: can't replace height with min-height, it screws up the placement of the pane toggler buttons.
  //#calendar_layout {
  //  height: 600px;
  //  width: 100%;
  //}

  // these images and rules come from the UI Layout Plugin's DOCUMENTATION
  //   http://layout.jquery-dev.net/documentation.cfm
  .ui-layout-toggler-north-open ,
  .ui-layout-toggler-south-closed { background: image-url('toggle-up.gif') no-repeat center bottom; }
  .ui-layout-toggler-north-closed ,
  .ui-layout-toggler-south-open   { background: image-url('toggle-dn.gif') no-repeat center top; }
  /* .ui-layout-toggler-east-closed , */
  .ui-layout-toggler-west-open    { background: image-url('toggle-lt.gif') no-repeat center right; }
  /*.ui-layout-toggler-west-closed , */
  .ui-layout-toggler-east-open    { background: image-url('toggle-rt.gif') no-repeat center left; }

  #calendar_controls {
    input[type="text"] {
      width: 170px;
      margin-bottom: 2px;
    }
  }

  #content {
    padding: 0px;
    border: 0px;
  }

  //// expand the calendar content to use the full width of screen
  ////  - this allows the use of the side-pane styles below.
  #calendar_content {
    margin-left: -20px;
    margin-right: -20px;
  }

  .ui-layout-resizer-east-closed:hover,
  .ui-layout-resizer-west-closed:hover {
    background-color: #E6E6E6;
    .content {
      color: #C30;
    }
  }
  .ui-layout-toggler-east-closed:hover,
  .ui-layout-toggler-west-closed:hover {
      background-color: #F6F6F6;
  }
  .ui-layout-toggler-east-closed .content,
  .ui-layout-toggler-west-closed .content {
    color:			#033;
    font-size:		12px !important;
    font-weight:	bold;
    text-transform:	uppercase;
    text-align:		center;
    padding-right:	1px;
  }
  .ui-layout-resizer-east-closed,
  .ui-layout-resizer-west-closed {
	background-color:	#DDD;
	border-top:			1px solid #677;
	border-bottom:		1px solid #677;
  }
  .ui-layout-resizer-east-closed {
	border-right:		1px solid #677;
  }
  .ui-layout-resizer-west-closed {
	border-left:		1px solid #677;
  }
  .ui-layout-toggler-east-closed,
  .ui-layout-toggler-west-closed {
    background-color:	#EEE;
    border-top:			1px solid #FFF;
    border-bottom:		1px solid #677;
  }
  .ui-layout-toggler-east-closed {
    border-right:		1px solid #FFF;
  }
  .ui-layout-toggler-west-closed {
    border-left:		1px solid #FFF;
  }

}
#provider_tax_uid_input{
  .controls{
    label.error{
      width: 300px;
    }
  }
}
.red-font{
  color: red;
  font-size: 14px;
}

.time-td,.room-td{
  border: 1px solid #677;
  width: 100px;
  height: 25px;
  padding-left: 10px;
}
.room-td{
  font-weight: bold;
  text-align: center;
}

.popover .arrow-s,.popover .arrow-s:after{
  position:absolute;
  display:block;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
}
.popover{
  .arrow-s{
    border-width:8px;
  }
  &.bottom{
    margin-top: 8px;
  }
}
.popover .arrow-s:after{
  border-width:8px;content:"";
}
.popover.top .arrow-s{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999;border-top-color:rgba(0, 0, 0, 0.25);bottom:-11px;}.popover.top .arrow-s:after{bottom:1px;margin-left:-8px;border-bottom-width:0;border-top-color:#ffffff;}
.popover.right .arrow-s{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0, 0, 0, 0.25);}.popover.right .arrow-s:after{left:1px;bottom:-8px;border-left-width:0;border-right-color:#ffffff;}
.popover.bottom .arrow-s{left:50%;margin-left:-8px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0, 0, 0, 0.25);top:-8px;}.popover.bottom .arrow-s:after{top:1px;margin-left:-8px;border-top-width:0;border-bottom-color:#ffffff;}
.popover.left .arrow-s{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0, 0, 0, 0.25);}.popover.left .arrow-s:after{right:1px;border-right-width:0;border-left-color:#ffffff;bottom:-8px;}


#export_to_pdf{
  margin-top: 12px;
  border: 1px solid black;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(232, 241, 244, 0.99);
  background-image: none;
  &:hover{
    background-color: rgba(232, 241, 244, 0.99);
  }
}
.done-pdf{
  font-weight: bold;
  border: 1px solid black;
  height: 26px;
  margin-left: 5px;
  margin-top: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(232, 241, 244, 0.99);
  &:hover{
    background-color: rgba(232, 241, 244, 0.99);
  }
}
.calendar-pdf-view{
  margin-left: 30px;
}
