//==============================================================================
// Custom Mixins
//   setup extensions / reusabile bits of CSS logic
//==============================================================================


//------------------------------------------------------------------------------
// Display Text Vertically (rotated)
//   source: http://scottgale.com/blog/css-vertical-text/2010/03/01/ 
//------------------------------------------------------------------------------
@mixin vertical_text {
	writing-mode:tb-rl;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	white-space:nowrap;
	display:block;
	bottom:0;
}
