//==============================================================================
//  This file contains the css for pdf output file.

//

@import "bootstrap";

.time-td,.room-td{
  border-right: 1px solid #cdd6d9;
  border-left: 1px solid #cdd6d9;
}
.format{
 font-weight: bold;
 text-align: center;
}