#calendar_layout
  %table.table
    %thead#appointment_table_header
      %tr#full_time_today.header-time
        = @full_time
      %tr#room_name
      - result_array = @result_array[0]
      - result_array.each do |r_a|
        %td.room-td.format
          = r_a
    %tbody.body-appointment
      - @result_array.each_with_index do |value, index|
        - if index !=0
          %tr.time-tr
            - value.each do | val|
              %td.time-td
                = val
      %tr.time-tr
        - @total.each do |total|
          %td.time-td
            = total