%h3
  = t('mailer.titles.confirmation')
%p
  Welcome #{@resource.email}!
-#
  just a note that account and subscription objects may not have been created yet when this
  email gets sent.
%p Before you can begin using Handyworks, you must confirm your account by clicking the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
%p Thanks.
