<table id="index_table">
    <thead>
        <tr>
            <th>Hello 1</th>
            <th>Hello 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Howdy</td>
            <td>Howdy Partner</td>
        </tr>
        <tr>
            <td>Howdy A</td>
            <td>Howdy Partner A</td>
        </tr>
    </tbody>
</table>
