<div id=arow_table>
<div id=row1 class=arow>
    <div id=r1c1>
    </div>
    <div id=r1c2>
        <a id=r1a href='#'>remove</a>
    </div>
</div>
<div id=row2 class=arow>
    <div id=r2c1>
    </div>
    <div id=r2c2>
        <a id=r2a href='#'>remove</a>
    </div>
</div>
<div id=row3 class=arow>
    <div id=r3c1>
    </div>
    <div id=r3c2>
        <a id=r2a href='#'>remove</a>
    </div>
</div>
