- unless f.nil?
  = render 'shared/form_buttons', :f => f
.crud_buttons
  -# only display buttons if the request happens to be for a full page view.
  - unless request.xhr?
    = render 'shared/switcher', :resource => @carrier_hcfa_form_option, :switcher_url => third_party_path(@third_party) + '/hcfa_form_options' unless @carrier_hcfa_form_option.new_record?
    = link_to third_party_path(@third_party), :class => "icon48 back", :title => "Third Party" do
      &nbsp;
  - if params[:action]  == "edit"
    - if can? :destroy, @carrier_hcfa_form_option
      = render 'shared/delete_button', :path => third_party_hcfa_form_option_path(@third_party,@carrier_hcfa_form_option), :target => "carrier_hcfa_form_option-#{@carrier_hcfa_form_option.id}", :button => button
  - if params[:action]  == "show"
    - if can? :update, @carrier_hcfa_form_option
      = link_to edit_third_party_hcfa_form_option_path(@third_party,@carrier_hcfa_form_option), :class => "icon48 edit", :title => "Edit" do
        &nbsp;

