- @hcfa_form_option = @carrier_hcfa_form_option
- if @hcfa_form_option.new_record?
  - @form_url = third_party_hcfa_form_options_path(@third_party)
- else
  - @form_url = third_party_hcfa_form_option_path(@third_party,@hcfa_form_option)
=semantic_form_for [@third_party, @hcfa_form_option], :url => @form_url, :method => @hcfa_form_option.new_record? ? :post : :put, :remote => request.xhr? do |f|
  = render 'shared/hcfa_form_option_fields', :f => f
