%h1 Welcome to HandyWorks!
%p 
You are using the Max version.
%p 
The menubar on the top is how you navigate through HandyWorks. The top left item is your current clinic with the currently active patient just to the right. Use the down arrow if you want to change them.<br><br>
User Files, the next menubar item, lists the different data files that HandyWorks uses when processing patient data and making appointments. Usually, once the data in this area has been entered, there are few reasons why it ever needs changing. It is, in a way, a reference catalog of data that is used elsewhere, primarily by the calendar, patient cases and patient transactions.
