%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    #primary_controls.container-fluid
      = render 'layouts/logo', :inverse => true
      %ul.nav
        %li.divider-vertical
          %li.dropdown.nav-button{:data => { :container => 'admin_controls' } }
            %a.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' } }
              Admin
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Accounts Management', accounts_path, :title => 'All Accounts'
              %li
                = link_to 'Questions', questions_path, :title => 'FAQ Management'
              %li
                = link_to 'Help Texts', helps_path, :title => 'Context Help Management'

              - if can? :manage, Resque
                %li.auth_control_2_button.manual
                  = link_to 'Jobs', mgmt_resque_server_path, :title => 'Handyworks Job Monitoring', :target => '_jobs'

      %ul.nav.pull-right
        %li.divider-vertical
        %li.dropdown.nav-button{:data => { :container => 'system_setup_content' } }
          %a#session-menu.dropdown-toggle.session-menu{:href => '#', :data => { :toggle => 'dropdown' } }
            %i.icon-align-justify.icon-14
            %b.caret
          %ul.dropdown-menu
            - if current_user
              %li
                = link_to "Edit Profile", edit_user_registration_path(current_user), :title => "Edit your profile", :class => "toProfile"
              %li
                = link_to t('links.log_out'), destroy_user_session_path, :method => 'delete'
              - if current_user.app_admin?
                %li.divider
                %li.special-notice
                  %span.message.label.label-info
                    Super Admin Session
:javascript
  jQuery("a.session-menu").ready(function() {
    HandyworksApp.highlightSessionMenu();
  });
