%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      = render 'layouts/logo'
      %ul.nav.pull-right
        %li
          = link_to 'Features', features_path
        %li
          = link_to 'Pricing', plans_path
        %li
          = link_to 'News', news_path
        %li
          = link_to 'Contact Us', contact_path
        %li
          = link_to 'Help & Support', faq_path

        - if user_signed_in?
          -#%li
          -#  = link_to 'Edit account', edit_user_registration_path, :class => 'btn-header'
          -#- if current_user.app_admin?
          -#  %li
          -#    = link_to 'Admin', users_path, :class => 'btn-header'
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete', :class => 'btn-header'
        - else
          %li
            = link_to 'Sign Up', new_user_registration_path, :class => 'btn-header'
          %li
            = link_to 'Login', new_user_session_path, :class => 'btn-header'
