%header.navbar.navbar-fixed-top
  %nav.navbar-inner
    #primary_controls.container-fluid
      = render 'layouts/logo', :inverse => true
      - if current_user
        %ul.nav.session_id
          %li.menu-item.session_info
            %p.navbar-text
              -# ="#{Clinic.model_name.human}:"
          - clinics = current_clinic_list
          - if clinics.try(:size) > 1 then
            %li.dropdown
              %a.dropdown-toggle{ :href => "#", :data => { :toggle => "dropdown" } }
                = current_clinic
                %b.caret
              %ul.dropdown-menu
                - clinics.each do |c|
                  - unless c and current_clinic and c.id == current_clinic.id
                    %li
                      %a.change-clinic{ :href => "#", :data => { :cid => c.id } }
                        = c.name
          - else
            %li
              %a
                = current_clinic
          %li.divider-vertical
          %li.current-patient
          %li.divider-vertical

      %ul.nav.pull-right
        %li.divider-vertical
        %li.dropdown.nav-button{:data => { :container => 'system_setup_content' } }
          %a#session-menu.dropdown-toggle.session-menu{:href => '#', :data => { :toggle => 'dropdown' } }
            %i.icon-align-justify.icon-14
            %b.caret
          %ul.dropdown-menu
            - if current_user
              %li
                = link_to t('links.log_out'), destroy_user_session_path, :method => 'delete'
              - if current_account.subscription and can? :update, current_account.subscription
                %li
                  = link_to "Subscription", edit_subscription_path
              - if current_account 
                - if current_account.state == "trial"
                  %li.divider
                  %li.special-notice
                    %span.message
                      = render 'account_setups/trial_notification'
                - if current_account.in_setup?
                  %li.divider
                  %li.special-notice
                    %span.message
                      = render 'account_setups/setup_notification'

      = render 'layouts/auth_controls'

