#primary_controls
  %ul.nav
    %li.dropdown.nav-button{:data => { :container => 'user_data_content' } }
      %a.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' } }
        User Files
        %b.caret
      %ul.dropdown-menu
        %li#clinics_button.auth_control_2_button
          = link_to Clinic.model_name.human.pluralize, clinics_path, :title => "#{Clinic.model_name.human} Setup"
        %li#procedure_codes_button.auth_control_2_button
          = link_to "Procedure Codes", procedure_codes_path, :title => "Configure Procedure Codes"                                 
        %li#diagnosis_codes_button.auth_control_2_button
          = link_to "Diagnosis Codes", diagnosis_codes_path, :title => "Configure Diagnosis Codes"
        %li#third_parties_button.auth_control_2_button
          = link_to ThirdParty.model_name.human.pluralize, third_parties_path, :title => 'Carriers & Attorneys'
        %li#references_button.auth_control_2_button
          = link_to 'Referral Sources', references_path, :title => 'Referrals'
        %li#messages_button.auth_control_2_button
          = link_to 'Messages', messages_path, :title => "Configure Messages"

        %li.divider
        %li#providers_button.auth_control_2_button
          = link_to 'Provider Times and Info', providers_path, :title => 'Provider Setup'
        %li#appointment_types_button.auth_control_2_button  
          = link_to 'Appointment Types', appointment_types_path, :title => "Define Service Types"
        %li#rooms_button.auth_control_2_button
          = link_to 'Treatment Rooms', rooms_path, :title => 'Rooms are where services are delivered'
        %li.divider

        %li#users_button.auth_control_2_button
          = link_to 'Users Permissions', users_path, :title => 'Manage Users and their access permissions'
        %li#hcfa_form_options_button.auth_control_2_button
          = link_to 'HCFA and Ebill Options', hcfa_form_options_path, :title => "HCFA-Ebill Options"

    %li.divider-vertical
    %li.dropdown.nav-button{:data => { :container => 'reports_content' } }
      %a.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' } }
        Statistics
        %b.caret
      %ul.dropdown-menu
        -# %li.auth_control_2_button
        -#   = link_to 'Daily Statistics', '#nowhere', :title => 'Ins reports' 
        -# %li.auth_control_2_button
        -#   = link_to 'Monthly Statistics', '#nowhere', :title => 'Statements, receipts' 
        -# %li.auth_control_2_button
        -#   = link_to 'Productivity', '#nowhere', :title => 'Daily, Monthly, A/R, productivity, usage' 
        -# %li.auth_control_2_button
        -#   = link_to 'Clinic A/R', '#nowhere', :title => 'Notes for visits' 

    %li.divider-vertical
    %li.dropdown.nav-button{:data => { :container => 'billing_content' } }
      %a.dropdown-toggle{:href => '#', :data => { :toggle => 'dropdown' } }
        Billing
        %b.caret
      %ul.dropdown-menu
        -# %li.auth_control_2_button
        -#   = link_to 'Patient Billing', '#nowhere', :title => 'Advanced Searching for Billing Records' 
        -# %li.auth_control_2_button
        -#   = link_to '3rd Party Billing', '#nowhere', :title => 'Adds new Billing Records' 
        -# %li.auth_control_2_button
        -#   = link_to 'Electronic Billing', '#nowhere', :title => 'Edit currently selected billing' 
        -# %li.auth_control_2_button
        -#   = link_to 'Patient Reports', '#nowhere', :title => 'Delete currently selected billing' 


  %ul.nav.pull-right
    %li.divider-vertical
    %li#patient_control_button.auth_control_2_button
      = link_to 'Patients', patients_path, :title => 'Patient Demographic Data'
    %li.divider-vertical
    -# %li#case_control_button.auth_control_2_button
    -#   = link_to 'Cases', '#case_controls'
    -# %li#transaction_control_button.auth_control_2_button
    -#   = link_to 'Transactions', '#transaction_controls'

    %li#appointment_control_button.auth_control_2_button.nav-button{:data => { :container => 'calendar_content' } }
      = link_to 'Calendar', edit_calendar_path, :title => "Make an Appointment"
