-#------------------------------------------------------------------------------
-# This file will be loaded by the layout to transfer configuration and 
-# translations into JavaScript.
-#
-# TODO : convert this into an AJAX process during the initial loading phase after login.
-#------------------------------------------------------------------------------
:javascript
  jQuery(function() {
    HandyworksApp.Data.HwReplacements = #{replacements_for_js};
    HandyworksApp.Data.totalPatientCount = #{current_account.try(:patients).try(:count) };
  });
