:javascript
  // this will set the root_path to be referenced inside of pure JavaScript logic
  // using the dynamically determined Rails root_path (e.g. "/hw/" or "/" ).
  window.root_path = "#{root_path}";

