- inverse ||= false
= link_to root_path, :class => 'brand scroller' do
  - if inverse
    = image_tag "hw/logo_inv.png"
  - else
    = image_tag "hw/logo.png"
  %h1{ :class => "logo-text #{inverse ? 'inverse' : ''}" }
    Handyworks

