-# define a set of fancybox popups that can be used for opening windows in sequence
#popups
  #popup_triggers
    %a#popup-trigger-1.popup-trigger(rel="popups" href="#popup1")
    %a#popup-trigger-2.popup-trigger(rel="popups" href="#popup2")
    %a#popup-trigger-3.popup-trigger(rel="popups" href="#popup3")
    %a#popup-trigger-4.popup-trigger(rel="popups" href="#popup4")
    %a#popup-trigger-5.popup-trigger(rel="popups" href="#popup5")
  #popup_containers
    #popup1.container-fluid
      Hello1
    #popup2.container-fluid
      Hello2
    #popup3.container-fluid
      Hello3
    #popup4.container-fluid
      Hello4
    #popup5.container-fluid
      Hello5
