.container
  .row
    .span8
      %h3
        News
      .blog_post
        .row
          .span2
            = link_to news_path do
              = image_tag "measure/pic_blog.png", :class => 'img-circle'
          .span4
            = link_to news_path, :class => 'title' do
              Lorem Ipsum is simply dummy 
            .intro
              There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
            .date
              Oct 22. 2012

    .span4.contact_us
      %h3
        Contact Us
      = form_for(ContactUs.new, :remote=>true,:url => 'contact_us/send_us',:html => {:class => "form-horizontal"}  ) do |f|
        .field
          .label_field
            %label{:for => "contact_us_name"}
              Name
          = f.text_field :name
        .field
          .label_field
            %label{:for => "contact_us_email"}
              Email
          = f.text_field :email
        .field
          .label_field
            %label{:for => "contact_us_comment"}
              Comments
          = f.text_area :comment
        %button.btn{:type => "submit"}
          Send
  %hr
    .row.copyright
      .span5
        %h3
          Social
        %a.social.fb{:href=>"#"}
          %i.i_facebook
        %a.social.tw{:href=>"#"}
          %i.i_twitter
        %a.social.yt{:href=>"#"}
          %i.i_youtube
      .span5.offset2.copy
        %p
          &copy; 1997-2012 Chapter 1 Software Inc. |  All Rights Reserved.

