-#===============================================================================
-# This segment of code originally came the html5bp / initializr code base and
-# was intended to avoid errors in browsers which do not provide the console
-# object ( IE <= 8 ). 
-#
-# It works by defining a list of methods which are going to be iterated 
-# through to look for / replace in the console object.
-#
-# This process was "augmented" to turn off the console by default in all
-# browsers ( currently in all Rails environments ). This results in better
-# performance w/o having to remove the potentially useful debug / info 
-# statements from the code. Call HandyworksApp.turnOnConsole() to enable
-# the console for debug purposes.
-#===============================================================================
:javascript

  var _lmethods = ['assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error', 'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log', 'markTimeline', 'profile', 'profileEnd', 'markTimeline', 'table', 'time', 'timeEnd', 'timeStamp', 'trace', 'warn'];

  //if (!(window.console && console.log) || ("#{Rails.env}" == "production")) {
      (function() {
          var noop = function() {};
          var length = _lmethods.length;
          window.oconsole = {};
          if (!(window.console && console.log)) {
            console = {};
          }
          while (length--) {
              try {
                oconsole[_lmethods[length]] = console[_lmethods[length]];
              } catch(err) {}
          }
          var length = _lmethods.length;
          while (length--) {
              try {
                //console[_lmethods[length]] = noop;
                eval('console.'+_lmethods[length] + ' = noop');
              } catch(err) {}
          }
      }());
  //}

