!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Handyworks"
      %meta{:content => content_for?(:description) ? yield(:description) : "Handyworks", :name => "description"}
        = stylesheet_link_tag "admin", :media => "all"
        = render 'layouts/javascript'
        = javascript_include_tag "admin"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "hw admin #{controller_name} #{action_name}"}
    #help_dialog
    .flash
    = render 'layouts/admin_navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              #content
                = yield
          %footer
      / ! end of .container
    / ! end of #main
    = render 'layouts/popups'

  :javascript
    // to support automated testing
    if ( "#{Rails.env}" == 'test' ) {
      jQuery.fx.off = true;
    }

    jQuery(function() {
      // The following line is part of the solution to preven FOUC,
      // a flash of unstyled content.
      jQuery('body.hw').css('visibility','inherit')
    });
