!!!
%html
  %head
    %meta{"http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Handyworks"
    %meta{:content => content_for?(:description) ? yield(:description) : "Handyworks", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = render 'layouts/javascript'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "hw application #{controller_name} #{action_name}"}
    %script{:type =>"text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"}
    #help_dialog
    = render 'layouts/application_navigation'
    -# <!-- measure theme scroll up assistance -->
    %a.scrolltop{href: "#"}
      %span
        up
    #main{:role => "main"}
      .content
        = render 'layouts/messages'
        = yield
      %footer
    / ! end of #main
    #footer
      = render 'layouts/public_footer'

    :javascript
      // to support automated testing
      document.write(navigator.userAgent);
      if ( "#{Rails.env}" == 'test' ) {
        jQuery.fx.off = true;
      }
      CFInstall.check({
        mode: "overlay",
        destination: ""
      });

      jQuery(function() {
        // The following line is part of the solution to preven FOUC,
        // a flash of unstyled content.
        jQuery('body.hw').css('visibility','inherit')
      });
