- no_content ||= nil
!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Handyworks"
      %meta{:content => content_for?(:description) ? yield(:description) : "Handyworks", :name => "description"}
        = stylesheet_link_tag "authorized", :media => "all"
        = render 'layouts/javascript'
        = javascript_include_tag "authorized"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "hw authorized #{controller_name} #{action_name}"}
    #help_dialog
    .flash
    = render 'layouts/authorized_navigation'
    #top
      &nbsp;
    #container
      .container-fluid
        .row-fluid.content_section
          .span12
            #patients_content.content-container
            #user_data_content.content-container
            #reports_content.content-container
            #billing_content.content-container
            #calendar_content.content-container
            #system_setup_content.content-container
            - unless request.xhr? or no_content
              #direct_content.content-container
                #content
                  = yield
    #bottom
      &nbsp;
      -# footer controls or message area goes here at some point.
    = render 'layouts/popups'
    #login.modal.hide.fade
      / ! end of .container
    / ! end of #main

  = render 'layouts/config'
  :javascript
    // this has to execute outside of a document Ready function to be effective
    HandyworksApp.Configuration.expert = #{params[:expert] ? 'true' : 'false'};

    // to support automated testing
    if ( "#{Rails.env}" == 'test' ) {
      jQuery.fx.off = true;
    }

    jQuery(function() {
      console.info('setting client data');
      HandyworksApp.displayFlash(#{flash.to_json})
      HandyworksApp.Configuration.rails_env = "#{Rails.env}"
      HandyworksApp.Data.current_clinic_id = #{current_clinic.nil? ? "''" : current_clinic.try(:id)};
      HandyworksApp.Data.current_patient_id = #{current_patient.nil? ? "''" : current_patient.try(:id)};
      HandyworksApp.Data.Patients = new HandyworksApp.Collections.Patients([#{current_patient.to_json()}]);
      HandyworksApp.init('body');

      // The following line is part of the solution to preven FOUC,
      // a flash of unstyled content.
      jQuery('body.hw').css('visibility','inherit')
    });
