!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Appointments"
      %meta{:content => content_for?(:description) ? yield(:description) : "Appointments", :name => "description"}
        = stylesheet_link_tag "public_appointments", :media => "all"
        = render 'layouts/javascript'
        = javascript_include_tag "public_appointments"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "hw public_appointments #{controller_name} #{action_name}"}
    #main{:role => "main"}
      .content
        = render 'layouts/messages'
        = yield
    / ! end of #main

  :javascript
    // to support automated testing
    if ( "#{Rails.env}" == 'test' ) {
      jQuery.fx.off = true;
    }

    jQuery(function() {
      // The following line is part of the solution to preven FOUC,
      // a flash of unstyled content.
      jQuery('body.hw').css('visibility','inherit')
    });
