- unless account.subscription.nil?
  %tr
    %td
      = account.id
    %td
      = account.owner.try(:email)
    %td
      = account.created_at.to_date
    %td
      = account.subscription.try(:subscription_plan_name)
