%h3
  .container
    .row
      .span8
        %table.table.table-condensed
          %thead
            %tr
              %th ID
              %th Name
              %th Registered
              %th Subscription
          %tbody
            = render @accounts

